Repository TanStack/query, changes with the labels that .github/labeler.yml gives for each.
All labels: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools, docs

docs: resolve ci error
  docs/eslint/eslint-plugin-query.md
  docs/framework/solid/devtools.md
Labels: docs

chore: fix lint
  docs/eslint/eslint-plugin-query.md
  docs/framework/solid/devtools.md
Labels: docs

fix(react-query): remove placeholderData from suspense query
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Labels: @tanstack/react-query

fix(react-query): remove placeholderData from suspense query (#6973)
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
Labels: @tanstack/react-query

test(react-query-devtools): add test case for not in `process.env.NODE_ENV='development'` (#6940)
  packages/react-query-devtools/src/__tests__/not-development.test.tsx
Labels: @tanstack/react-query-devtools

test(react-query): use vitest typecheck correctly with *.test-d.ts
  package.json
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/suspense.types.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.type.test.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.types.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  pnpm-lock.yaml
Labels: @tanstack/react-query

ci(react-query): resolve error
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: @tanstack/react-query

test(react-query): update useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: @tanstack/react-query

chore: format
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: @tanstack/react-query

ci(react-query): resolve `test:lib` error (#6979)
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: @tanstack/react-query

fix
  examples/svelte/svelte-melt/src/routes/+layout.svelte
Labels: none

fix
  examples/svelte/svelte-melt/package.json
  examples/svelte/svelte-melt/src/routes/paginate.svelte
  packages/svelte-query-runes/package.json
  packages/svelte-query-runes/src/createBaseQuery.svelte.ts
  pnpm-lock.yaml
Labels: none

allow enable to be function
  examples/svelte/svelte-melt/src/routes/paginate.svelte
  packages/svelte-query-runes/src/createBaseQuery.svelte.ts
Labels: none

Fix Invalid Sample Code
  docs/framework/react/overview.md
Labels: docs

test(react-query): use vitest typecheck correctly with *.test-d.ts (#6978)
  package.json
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.types.test.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.types.test.tsx
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/suspense.types.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.type.test.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQueries.types.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  pnpm-lock.yaml
Labels: @tanstack/react-query

refactor(*): Import noop function from utils (#6964)
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createMutation.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/utils.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

test(solid-query): use vitest typecheck correctly with *.test-d.ts
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/createQuery.types.test.tsx
Labels: @tanstack/solid-query

test(vue-query): use vitest typecheck correctly with *.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Labels: @tanstack/vue-query

test(react-query): update vitest type test code correctly (expectTypeOf)
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Labels: @tanstack/query-core, @tanstack/react-query

chore: update
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: @tanstack/react-query

chore(react-query): remove optional chaining
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: @tanstack/react-query

fix(solid-query): Persist client implementation
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query, @tanstack/solid-query-persist-client

fix(solid-query): Persist client implementation (#6993)
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query, @tanstack/solid-query-persist-client

feat(fetchQuery): add 'prefetchWhenStale' option
  docs/reference/QueryClient.md
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
Labels: @tanstack/query-core, docs

docs(react-query): fix typo supsends -> suspends
  docs/framework/react/guides/advanced-ssr.md
Labels: docs

docs(devtools): update devtool docs to include shadowDOMTarget property
  docs/framework/react/devtools.md
Labels: docs

refactor: switch typeof undefined checks with strict comparison of the value undefined
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/react-query/src/suspense.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/react-query

refactor: simplify check
  packages/query-core/src/utils.ts
Labels: @tanstack/query-core

refactor: switch typeof undefined checks with strict comparison of the value undefined (#7006)
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/__tests__/storageIsFull.test.ts
  packages/react-query/src/suspense.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-core, @tanstack/query-sync-storage-persister, @tanstack/react-query

fix(solid-query): Defer observer unsubscription untill resource resolves
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query

fix(solid-query): Defer observer unsubscription untill resource resolves (#6982)
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query

release: v5.24.3
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Labels: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

fix(core): do not rely on dataUpdatedAt truthiness
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/query.test.tsx
Labels: @tanstack/query-core

fix(solid-query): Prevent infinite refetch with Astro when initialData is provided
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query

fix(types): make getQueryState types work with queryOptions
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Labels: @tanstack/query-core, @tanstack/react-query

fix(solid-query): Prevent infinite refetch with Astro when initialData is provided (#7009)
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query

release: v5.24.4
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic-typescript/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Labels: @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client

chore: fix test that relied on dataUpdatedAt to be set to zero for a query to show up as non-stale
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Labels: @tanstack/query-persist-client-core

fix(types): make getQueryState types work with queryOptions (#7010)
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
Labels: @tanstack/query-core, @tanstack/react-query

fix(core): do not rely on dataUpdatedAt truthiness (#7008)
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/query.test.tsx
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Labels: @tanstack/query-core, @tanstack/query-persist-client-core

.github/labeler.yml:

'@tanstack/angular-query-devtools-experimental':
  - 'packages/angular-query-devtools-experimental/**/*'
'@tanstack/angular-query-experimental':
  - 'packages/angular-query-experimental/**/*'
'@tanstack/eslint-plugin-query':
  - 'packages/eslint-plugin-query/**/*'
'@tanstack/query-async-storage-persister':
  - 'packages/query-async-storage-persister/**/*'
'@tanstack/query-broadcast-client-experimental':
  - 'packages/query-broadcast-client-experimental/**/*'
'@tanstack/query-codemods':
  - 'packages/query-codemods/**/*'
'@tanstack/query-core':
  - 'packages/query-core/**/*'
'@tanstack/query-devtools':
  - 'packages/query-devtools/**/*'
'@tanstack/query-persist-client-core':
  - 'packages/query-persist-client-core/**/*'
'@tanstack/query-sync-storage-persister':
  - 'packages/query-sync-storage-persister/**/*'
'@tanstack/react-query':
  - 'packages/react-query/**/*'
'@tanstack/react-query-devtools':
  - 'packages/react-query-devtools/**/*'
'@tanstack/react-query-next-experimental':
  - 'packages/react-query-next-experimental/**/*'
'@tanstack/react-query-persist-client':
  - 'packages/react-query-persist-client/**/*'
'@tanstack/solid-query':
  - 'packages/solid-query/**/*'
'@tanstack/solid-query-devtools':
  - 'packages/solid-query-devtools/**/*'
'@tanstack/solid-query-persist-client':
  - 'packages/solid-query-persist-client/**/*'
'@tanstack/svelte-query':
  - 'packages/svelte-query/**/*'
'@tanstack/svelte-query-devtools':
  - 'packages/svelte-query-devtools/**/*'
'@tanstack/svelte-query-persist-client':
  - 'packages/svelte-query-persist-client/**/*'
'@tanstack/vue-query':
  - 'packages/vue-query/**/*'
'@tanstack/vue-query-devtools':
  - 'packages/vue-query-devtools/**/*'
'docs':
  - 'docs/**/*'
