Repository TanStack/query, changes with the labels that .github/labeler.yml gives for each.
All labels: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental, @tanstack/eslint-plugin-query, @tanstack/query-async-storage-persister, @tanstack/query-broadcast-client-experimental, @tanstack/query-codemods, @tanstack/query-core, @tanstack/query-devtools, @tanstack/query-persist-client-core, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/react-query-devtools, @tanstack/react-query-next-experimental, @tanstack/react-query-persist-client, @tanstack/solid-query, @tanstack/solid-query-devtools, @tanstack/solid-query-persist-client, @tanstack/svelte-query, @tanstack/svelte-query-devtools, @tanstack/svelte-query-persist-client, @tanstack/vue-query, @tanstack/vue-query-devtools, docs

.github/labeler.yml:

'@tanstack/angular-query-devtools-experimental':
  - 'packages/angular-query-devtools-experimental/**/*'
'@tanstack/angular-query-experimental':
  - 'packages/angular-query-experimental/**/*'
'@tanstack/eslint-plugin-query':
  - 'packages/eslint-plugin-query/**/*'
'@tanstack/query-async-storage-persister':
  - 'packages/query-async-storage-persister/**/*'
'@tanstack/query-broadcast-client-experimental':
  - 'packages/query-broadcast-client-experimental/**/*'
'@tanstack/query-codemods':
  - 'packages/query-codemods/**/*'
'@tanstack/query-core':
  - 'packages/query-core/**/*'
'@tanstack/query-devtools':
  - 'packages/query-devtools/**/*'
'@tanstack/query-persist-client-core':
  - 'packages/query-persist-client-core/**/*'
'@tanstack/query-sync-storage-persister':
  - 'packages/query-sync-storage-persister/**/*'
'@tanstack/react-query':
  - 'packages/react-query/**/*'
'@tanstack/react-query-devtools':
  - 'packages/react-query-devtools/**/*'
'@tanstack/react-query-next-experimental':
  - 'packages/react-query-next-experimental/**/*'
'@tanstack/react-query-persist-client':
  - 'packages/react-query-persist-client/**/*'
'@tanstack/solid-query':
  - 'packages/solid-query/**/*'
'@tanstack/solid-query-devtools':
  - 'packages/solid-query-devtools/**/*'
'@tanstack/solid-query-persist-client':
  - 'packages/solid-query-persist-client/**/*'
'@tanstack/svelte-query':
  - 'packages/svelte-query/**/*'
'@tanstack/svelte-query-devtools':
  - 'packages/svelte-query-devtools/**/*'
'@tanstack/svelte-query-persist-client':
  - 'packages/svelte-query-persist-client/**/*'
'@tanstack/vue-query':
  - 'packages/vue-query/**/*'
'@tanstack/vue-query-devtools':
  - 'packages/vue-query-devtools/**/*'
'docs':
  - 'docs/**/*'

fix(angular-query): support required input signal
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Labels: @tanstack/angular-query-experimental

fix(angular-query): support required input signal (#6928)
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Labels: @tanstack/angular-query-experimental

release: v5.22.1
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: @tanstack/angular-query-devtools-experimental, @tanstack/angular-query-experimental

docs(react-query): fix typo whan -> when
  docs/framework/react/guides/advanced-ssr.md
Labels: docs

fix(solid-query): Don't return promise when data is available synchronously
  packages/solid-query/src/createBaseQuery.ts
Labels: @tanstack/solid-query

feat(query-devtools): Add picture-in-picture mode
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/icons/index.tsx
Labels: @tanstack/query-devtools

remove margin from pip body
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

docs(react-query): fix typo whan -> when (#6929)
  docs/framework/react/guides/advanced-ssr.md
Labels: docs

fix: notify queryCache after updateQuery()
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
Labels: @tanstack/query-core

fix(query-core): notify queryCache after updateQuery() (#6936)
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
Labels: @tanstack/query-core

feat(query-devtools): Add picture-in-picture mode (#6931)
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/icons/index.tsx
Labels: @tanstack/query-devtools

ci(eslint): add `typecheck` for cspell words
  .eslintrc.cjs
Labels: none

test(react-query-devtools): add test case for production mode
  packages/react-query-devtools/src/__tests__/production.test.tsx
Labels: @tanstack/react-query-devtools

chore: update
  .eslintrc.cjs
Labels: none

docs: Install the right version of the react devtools
  docs/framework/react/devtools.md
Labels: docs

test(queryClient): Adjust performance threshholds
  packages/query-core/src/tests/queryClient.test.tsx
Labels: @tanstack/query-core

feat(query-devtools): Persist picture-in-picture mode through reloads
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

Remove comments
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

Cleanup popup correctly before mounting in-page devtools
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

clear console logs
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

Update devtools.md
  docs/framework/react/devtools.md
Labels: docs

Update devtools.md
  docs/framework/react/devtools.md
Labels: docs

feat(query-devtools): Persist picture-in-picture mode through reloads (#6942)
  packages/query-devtools/src/Devtools.tsx
Labels: @tanstack/query-devtools

Experiment with useMutationState test rewrite
  packages/react-query/src/__tests__/useMutationState.test.tsx
Labels: @tanstack/react-query

Remove performance tests
  packages/query-core/src/tests/queryClient.test.tsx
Labels: @tanstack/query-core

chore: update
  packages/react-query-devtools/src/__tests__/production.test.tsx
Labels: @tanstack/react-query-devtools

docs: Install the right version of the react devtools (#6941)
  docs/framework/react/devtools.md
Labels: docs

test(queryClient): Remove flaky perfomance tests
  packages/query-core/src/tests/queryClient.test.tsx
Labels: @tanstack/query-core

refactor(*): Import noop function from utils
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/react-query/src/useMutation.ts
  packages/solid-query/src/createMutation.ts
  packages/svelte-query/src/createMutation.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

Revert "refactor(*): Import noop function from utils"
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/react-query/src/useMutation.ts
  packages/solid-query/src/createMutation.ts
  packages/svelte-query/src/createMutation.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

refactor(*): Add noop function in each package
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-async-storage-persister/src/asyncThrottle.ts
  packages/query-async-storage-persister/src/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createMutation.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/utils.ts
Labels: @tanstack/angular-query-experimental, @tanstack/query-async-storage-persister, @tanstack/query-sync-storage-persister, @tanstack/react-query, @tanstack/solid-query, @tanstack/svelte-query

test(queryClient): Remove flaky perfomance tests (#6946)
  packages/query-core/src/tests/queryClient.test.tsx
Labels: @tanstack/query-core

fix(angular-query): fix NG0602 error
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Labels: @tanstack/angular-query-experimental

chore: run prettier on PR
  packages/angular-query-experimental/src/lazy-init.ts
Labels: @tanstack/angular-query-experimental

fix(angular-query): fix NG0602 error (#6966)
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/lazy-init.ts
Labels: @tanstack/angular-query-experimental

chore(angular-query): disable cache in Angular examples
  examples/angular/basic/angular.json
  examples/angular/infinite-query-with-max-pages/angular.json
  examples/angular/router/angular.json
  examples/angular/simple/angular.json
Labels: none

chore(angular-query): disable cache in Angular examples (#6970)
  examples/angular/basic/angular.json
  examples/angular/infinite-query-with-max-pages/angular.json
  examples/angular/router/angular.json
  examples/angular/simple/angular.json
Labels: none

Updated installation commands with bun package manger
  docs/eslint/eslint-plugin-query.md
  docs/framework/angular/devtools.md
  docs/framework/angular/installation.md
  docs/framework/react/devtools.md
  docs/framework/react/installation.md
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/createPersister.md
  docs/framework/react/plugins/createSyncStoragePersister.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/installation.md
  docs/framework/vue/devtools.md
  docs/framework/vue/installation.md
  examples/angular/basic/README.md
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/router/README.md
  examples/angular/simple/README.md
  examples/svelte/auto-refetching/README.md
  examples/svelte/basic/README.md
  examples/svelte/load-more-infinite-scroll/README.md
  examples/svelte/optimistic-updates-typescript/README.md
  examples/svelte/ssr/README.md
  examples/vue/2.6-basic/README.md
  examples/vue/basic/README.md
  examples/vue/simple/README.md
  packages/angular-query-experimental/README.md
  packages/vue-query/README.md
Labels: @tanstack/angular-query-experimental, @tanstack/vue-query, docs

docs: Updated installation commands with bun package manger (#6971)
  docs/eslint/eslint-plugin-query.md
  docs/framework/angular/devtools.md
  docs/framework/angular/installation.md
  docs/framework/react/devtools.md
  docs/framework/react/installation.md
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/createPersister.md
  docs/framework/react/plugins/createSyncStoragePersister.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/installation.md
  docs/framework/vue/devtools.md
  docs/framework/vue/installation.md
  examples/angular/basic/README.md
  examples/angular/infinite-query-with-max-pages/README.md
  examples/angular/router/README.md
  examples/angular/simple/README.md
  examples/svelte/auto-refetching/README.md
  examples/svelte/basic/README.md
  examples/svelte/load-more-infinite-scroll/README.md
  examples/svelte/optimistic-updates-typescript/README.md
  examples/svelte/ssr/README.md
  examples/vue/2.6-basic/README.md
  examples/vue/basic/README.md
  examples/vue/simple/README.md
  packages/angular-query-experimental/README.md
  packages/vue-query/README.md
Labels: @tanstack/angular-query-experimental, @tanstack/vue-query, docs

chore: update
  packages/react-query-devtools/src/__tests__/not-development.test.tsx
Labels: @tanstack/react-query-devtools
