Repository TanStack/query, pull requests merged in 2023-06, with the labels that each got.

#5507 feat: Drop legacy webpack v4 support
  docs/react/guides/migrating-to-v5.md
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/vue-query/package.json
  scripts/getRollupConfig.mjs
Labels: esm

#5485 make returning a promise for optimistic updates more explicit
  docs/react/guides/optimistic-updates.md
Labels: documentation

#5480 refactor: move queryOptions to its own file
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/isRestoring.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useQuery.ts
Labels: package: react-query

#5639 refactor(vue-query): reduce redundant `ref()`
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
Labels: package: vue-query
