Repository TanStack/query, pull requests merged in 2024-05, with the labels that each got.

#7363 fix(solid-query): Correct types for primitives
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
Labels: package: solid-query

#7366 feat(solid-query): Revise `queryOptions` implementation
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/createQuery.ts
Labels: package: solid-query

#7368 docs: Solid Query - Add overview, TS, install sections
  docs/config.json
  docs/framework/solid/devtools.md
  docs/framework/solid/installation.md
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Labels: documentation

#7357 fix: replaceDeepEqual for objects created by Object.create
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Labels: package: query-core

#7378 docs(angular-query): update quick start and readme
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
  packages/angular-query-experimental/README.md
Labels: documentation, package: angular-query-experimental

#7332 Update disabling-queries.md
  docs/framework/angular/guides/disabling-queries.md
Labels: documentation

#7376 fix(query-core): replaceEqualDeep correctly handles arrays that conta…
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/utils.ts
Labels: package: query-core

#7380 feat(angular-query): rollup type declarations
  .gitignore
  packages/angular-query-devtools-experimental/.eslintrc.cjs
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/.eslintrc.cjs
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/config/api-extractor.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#7383 docs: update custom-client.md
  docs/framework/vue/guides/custom-client.md
Labels: documentation

#7164 fix(query-core): add `number`, `symbol` as safe key for `OmitKeyof` for strictness `safely`
  packages/query-core/src/__tests__/OmitKeyof.test-d.ts
  packages/query-core/src/types.ts
Labels: package: query-core

#7386 docs: Solid Query - createQuery documentation
  docs/config.json
  docs/framework/solid/reference/createQuery.md
Labels: documentation

#7390 fix(vue-query): ref unwrapping of QueryKey in queryOptions
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useQuery.ts
Labels: package: vue-query

#7388 fix(angular-query): missing exports InitialDataInfiniteOptions types
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/types.ts
Labels: package: angular-query-experimental

#7400 docs: fix typo in react ssr docs
  docs/framework/react/guides/ssr.md
Labels: documentation

#7393 docs: Fix usage of removeEventListener
  docs/framework/react/guides/window-focus-refetching.md
Labels: documentation

#7410 fix: deprecate direction passed to QueryFunctionContext
  docs/framework/react/guides/query-functions.md
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/types.ts
Labels: documentation, package: query-core

#7414 docs(vue-query): add missing links and pages
  docs/config.json
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/typescript.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/community/lukemorales-query-key-factory.md
  docs/framework/vue/guides/disabling-queries.md
  docs/framework/vue/guides/optimistic-updates.md
  docs/framework/vue/guides/query-options.md
  docs/framework/vue/installation.md
  docs/framework/vue/plugins/broadcastQueryClient.md
  docs/framework/vue/plugins/createPersister.md
  docs/framework/vue/reference/hydration.md
  docs/framework/vue/reference/infiniteQueryOptions.md
  docs/framework/vue/typescript.md
Labels: documentation

#7417 chore(svelte-query): Add no-svelte-internal eslint rule
  package.json
  packages/svelte-query-devtools/.eslintrc.cjs
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/.eslintrc.cjs
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/.eslintrc.cjs
  packages/svelte-query/package.json
  pnpm-lock.yaml
Labels: package: svelte-query, package: svelte-query-devtools, package: svelte-query-persist-client

#7419 fix: exclude instanceof right identifier in exhaustive deps eslint rule
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
Labels: package: eslint-plugin-query

#7418 feat(query-core): improve useInfiniteQuery error handling
  docs/framework/react/reference/useInfiniteQuery.md
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/infiniteQueryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
Labels: documentation, package: react-query, package: query-core, package: solid-query

#7431 docs: not using useState in creating queryClient when use ReactQueryStreamedHydration
  docs/framework/react/guides/suspense.md
  examples/react/nextjs-suspense-streaming/src/app/providers.tsx
Labels: documentation

#7433 fix(types): make TVariables default to unknown on Mutation
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/mutation.ts
  packages/react-query/src/useMutationState.ts
  packages/solid-query/src/__tests__/useMutationState.test-d.tsx
  packages/solid-query/src/useMutationState.ts
  packages/vue-query/src/useMutationState.ts
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: angular-query-experimental

#7432 Update typo devtools.md
  docs/framework/react/devtools.md
Labels: documentation

#7436 fix(react-query): do not use global `JSX` namespace
  packages/react-query/src/QueryClientProvider.tsx
Labels: package: react-query

#7437 Added Community Package
  docs/framework/react/community/community-projects.md
Labels: documentation

#7440 fix(svelte-query-devtools): Replace self-closing div tag
  packages/svelte-query-devtools/src/Devtools.svelte
Labels: package: svelte-query-devtools

#7428 feat(svelte-query): Export types from createQueries
  packages/svelte-query/src/index.ts
Labels: package: svelte-query

#7429 fix(svelte-query): Update createQueries type
  packages/svelte-query/src/createQueries.ts
Labels: package: svelte-query

#7435 docs: Remove unused useState import from example
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#7467 update useSuspenseQuery error example
  docs/framework/react/guides/suspense.md
Labels: documentation

#7477 feat(svelte-query): useMutationState
  packages/svelte-query/src/__tests__/UseMutationState.svelte
  packages/svelte-query/src/__tests__/useMutationState.test.ts
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/src/useMutationState.ts
Labels: package: svelte-query

#7476 Feature/react 19
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic-typescript/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  integrations/react-cra4/package.json
  integrations/react-cra5/package.json
  integrations/react-vite/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#7481 Feature/hydrate promises
  docs/config.json
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/hydration.md
  docs/reference/QueryClient.md
  examples/react/nextjs-app-prefetching/.eslintrc.cjs
  examples/react/nextjs-app-prefetching/.gitignore
  examples/react/nextjs-app-prefetching/README.md
  examples/react/nextjs-app-prefetching/app/favicon.ico
  examples/react/nextjs-app-prefetching/app/get-query-client.ts
  examples/react/nextjs-app-prefetching/app/layout.tsx
  examples/react/nextjs-app-prefetching/app/page.tsx
  examples/react/nextjs-app-prefetching/app/pokemon-info.tsx
  examples/react/nextjs-app-prefetching/app/pokemon.ts
  examples/react/nextjs-app-prefetching/app/providers.tsx
  examples/react/nextjs-app-prefetching/next.config.js
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-app-prefetching/tsconfig.json
  integrations/react-next-15/.eslintrc.cjs
  integrations/react-next-15/.gitignore
  integrations/react-next-15/README.md
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/favicon.ico
  integrations/react-next-15/app/layout.tsx
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  integrations/react-next-15/next.config.js
  integrations/react-next-15/package.json
  integrations/react-next-15/tsconfig.json
  package.json
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
  pnpm-lock.yaml
Labels: documentation, package: react-query, package: query-core
