Repository TanStack/query, pull requests merged in 2024-11, with the labels that each got.

#8213 fix(react-query): remove redundant `setIsRestoring(true)` to fix lint warning
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Labels: package: react-query-persist-client

#8246 fix(useQueries): warn on duplicate keys
  packages/query-core/src/queriesObserver.ts
Labels: package: query-core

#8247 fix(useQuery): don't retryOnMount when prefetchInRender is used
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/errorBoundaryUtils.ts
Labels: package: react-query

#8232 test(react-query): remove `async` from queryFn
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Labels: package: react-query

#8229 docs(community-projects): Add Atomic CRM to the list of community projects
  docs/framework/react/community/community-projects.md
Labels: documentation

#8240 Fix(query-devtools): handle null properties for __previousQueryOptions
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#8248 docs(devtools): fix typo
  docs/framework/react/devtools.md
Labels: documentation

#8223 test(react-query): type test usePrefetchInfiniteQuery correctly
  packages/react-query/src/__tests__/prefetch.test-d.tsx
Labels: package: react-query

#8260 feat(eslint-plugin-query): add Suspense query hooks to no-rest-destructuring rule
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
Labels: package: eslint-plugin-query

#8259 fix(docs): correct file extensions to .tsx and add type annotations
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/ssr.md
Labels: documentation

#8262 test(react-query): refactor test file structure 1 file by 1 api
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Labels: package: react-query

#8273 docs(angular-query): improve examples
  docs/config.json
  examples/angular/devtools-panel/src/app/app.config.ts
  examples/angular/devtools-panel/src/app/app.routes.ts
  examples/angular/devtools-panel/src/app/components/basic-devtools-panel-example.component.ts
  examples/angular/devtools-panel/src/app/components/lazy-load-devtools-panel-example.component.ts
  examples/angular/query-options-from-a-service/src/app/services/posts-service.ts
  examples/angular/query-options-from-a-service/src/app/services/queries-service.ts
Labels: documentation

#8285 Add @tanstack/query/infinite-query-property-order link
  docs/eslint/eslint-plugin-query.md
Labels: documentation

#8267 test(react-query): add test case for queryOptions
  packages/react-query/src/__tests__/queryOptions.test.tsx
Labels: package: react-query

#8268 test(react-query): add test case for infiniteQueryOptions
  packages/react-query/src/__tests__/infiniteQueryOptions.test.tsx
Labels: package: react-query

#8269 test(react-query): add test case for useSuspenseQuery accept skipToken as queryFn
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#8270 test(react-query): add test case for useSuspenseInfiniteQuery accept skipToken as queryFn
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
Labels: package: react-query

#8271 test(react-query): add test case for useSuspenseQueries accept skipToken as queryFn
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query

#8284 refactor(angular-query): build with tsup and remove devtools component
  examples/angular/pagination/package.json
  examples/angular/pagination/src/app/app.component.ts
  examples/angular/pagination/src/app/app.config.ts
  examples/angular/query-options-from-a-service/package.json
  examples/angular/query-options-from-a-service/src/app/app.component.html
  examples/angular/query-options-from-a-service/src/app/app.component.ts
  examples/angular/rxjs/package.json
  examples/angular/rxjs/src/app/app.component.ts
  examples/angular/rxjs/src/app/components/example.component.ts
  examples/angular/rxjs/src/app/services/autocomplete-service.ts
  examples/angular/simple/package.json
  integrations/angular-cli-17/package.json
  integrations/angular-cli-17/src/app/app.component.ts
  integrations/angular-cli-17/src/assets/.gitkeep
  packages/angular-query-devtools-experimental/.attw.json
  packages/angular-query-devtools-experimental/ng-package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/angular-query-devtools-experimental/src/index.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-devtools-experimental/tsconfig.build.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-devtools-experimental/tsup.config.js
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/ng-package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/tsconfig.build.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsup.config.js
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8294 refactor(*): unify & use noop
  packages/angular-query-experimental/src/util/index.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/utils.ts
  packages/svelte-query/src/utils.ts
Labels: package: react-query, package: solid-query, package: svelte-query, package: angular-query-experimental, package: query-async-storage-persister, package: query-sync-storage-persister

#8297 docs(angular-query): type narrowing
  docs/framework/angular/typescript.md
Labels: documentation

#8295 fix(useQueries): make sure we don't lose property tracking
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query, package: query-core

#8302 Update infinite-queries.md
  docs/framework/react/guides/infinite-queries.md
Labels: documentation

#8299 fix(*): change noop function return type from undefined to void
  packages/angular-query-experimental/src/providers.ts
  packages/query-async-storage-persister/src/utils.ts
  packages/query-core/src/utils.ts
  packages/query-sync-storage-persister/src/index.ts
  packages/query-sync-storage-persister/src/utils.ts
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createQueries.ts
Labels: package: query-core, package: svelte-query, package: angular-query-experimental, package: query-async-storage-persister, package: query-sync-storage-persister

#8307 fix(angular-query): remove queryClient parameter from callback functions
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/angular/quick-start.md
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-query.ts
Labels: documentation, package: angular-query-experimental

#8311 docs(angular-query): update queryOptions documentation
  docs/framework/angular/guides/query-options.md
Labels: documentation

#8317 fix(types): make sure queryOptions are passable to UseQueryOptions
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/queryOptions.ts
Labels: package: react-query

#8316 feat(angular-query): add mutationOptions
  docs/config.json
  docs/framework/angular/guides/mutation-options.md
  docs/framework/angular/typescript.md
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/mutation-options.ts
  packages/angular-query-experimental/src/types.ts
Labels: documentation, package: angular-query-experimental

#8319 fix(angular-query): export CreateMutationOptions
  packages/angular-query-experimental/src/index.ts
Labels: package: angular-query-experimental

#8298 docs(react-query): add example for Expo Network in online status management
  docs/framework/react/react-native.md
Labels: documentation

#8334 fix: improve external reference relevance
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Labels: package: eslint-plugin-query

#8331 fix(angular-query): subscribe to observer outside the Angular zone
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
Labels: package: angular-query-experimental

#8337 chore(deps): update expo, next, astro, nx
  .github/renovate.json
  examples/react/auto-refetching/next-env.d.ts
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/next-env.d.ts
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/next-env.d.ts
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-suspense-streaming/next-env.d.ts
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/next-env.d.ts
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/next-env.d.ts
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/next-env.d.ts
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/next-env.d.ts
  examples/react/pagination/package.json
  examples/react/prefetching/next-env.d.ts
  examples/react/prefetching/package.json
  examples/react/react-native/package.json
  examples/solid/astro/package.json
  examples/solid/astro/src/env.d.ts
  integrations/react-next-14/package.json
  package.json
  packages/query-codemods/package.json
  packages/react-query-next-experimental/package.json
  packages/svelte-query-devtools/package.json
  pnpm-lock.yaml
Labels: package: svelte-query-devtools, package: query-codemods, package: react-query-next-experimental

#8339 chore(deps): more manual package updates
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  examples/react/algolia/package.json
  examples/react/auto-refetching/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/offline/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/package.json
  examples/react/prefetching/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  integrations/react-next-14/package.json
  integrations/react-vite/package.json
  integrations/svelte-vite/package.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-devtools/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: svelte-query-persist-client, package: react-query-next-experimental

#8340 fix(eslint-plugin): fix no-unstable-deps with ts-eslint >=8.10.0
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  pnpm-lock.yaml
Labels: package: eslint-plugin-query

#8341 chore(deps): move some deps from root to sub-packages
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  knip.json
  package.json
  packages/query-core/package.json
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-devtools/package.json
  packages/react-query-devtools/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: query-core, package: solid-query, package: query-devtools, package: solid-query-persist-client, package: solid-query-devtools

#8342 chore(deps): update react 19/next 15
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  integrations/react-next-15/package.json
  integrations/react-vite/package.json
  integrations/react-webpack-4/package.json
  integrations/react-webpack-5/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#8349 chore(angular-query): update to angular 19
  examples/angular/basic/angular.json
  examples/angular/basic/package.json
  examples/angular/basic/src/app/app.component.ts
  examples/angular/basic/src/app/components/post.component.ts
  examples/angular/basic/src/app/components/posts.component.ts
  examples/angular/basic/tsconfig.json
  examples/angular/devtools-panel/angular.json
  examples/angular/devtools-panel/package.json
  examples/angular/devtools-panel/src/app/app.component.ts
  examples/angular/devtools-panel/src/app/components/basic-devtools-panel-example.component.ts
  examples/angular/devtools-panel/src/app/components/example-query.component.ts
  examples/angular/devtools-panel/src/app/components/lazy-load-devtools-panel-example.component.ts
  examples/angular/devtools-panel/tsconfig.json
  examples/angular/infinite-query-with-max-pages/angular.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/infinite-query-with-max-pages/src/app/app.component.ts
  examples/angular/infinite-query-with-max-pages/src/app/components/example.component.ts
  examples/angular/infinite-query-with-max-pages/src/app/directives/project-style.directive.ts
  examples/angular/infinite-query-with-max-pages/tsconfig.json
  examples/angular/pagination/angular.json
  examples/angular/pagination/package.json
  examples/angular/pagination/src/app/app.component.ts
  examples/angular/pagination/src/app/components/example.component.ts
  examples/angular/pagination/tsconfig.json
  examples/angular/query-options-from-a-service/angular.json
  examples/angular/query-options-from-a-service/package.json
  examples/angular/query-options-from-a-service/src/app/app.component.ts
  examples/angular/query-options-from-a-service/src/app/components/post.component.ts
  examples/angular/query-options-from-a-service/src/app/components/posts.component.ts
  examples/angular/query-options-from-a-service/tsconfig.json
  examples/angular/router/angular.json
  examples/angular/router/package.json
  examples/angular/router/src/app/app.component.ts
  examples/angular/router/src/app/components/post.component.ts
  examples/angular/router/src/app/components/posts.component.ts
  examples/angular/router/tsconfig.json
  examples/angular/rxjs/angular.json
  examples/angular/rxjs/package.json
  examples/angular/rxjs/src/app/app.component.ts
  examples/angular/rxjs/src/app/components/example.component.ts
  examples/angular/rxjs/tsconfig.json
  examples/angular/simple/angular.json
  examples/angular/simple/package.json
  examples/angular/simple/src/app/app.component.ts
  examples/angular/simple/src/app/components/simple-example.component.ts
  examples/angular/simple/tsconfig.json
  integrations/angular-cli-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8351 fix(QueriesObserver): fix improper sorting in QueriesObserver's #find…
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/queriesObserver.ts
Labels: package: query-core

#8332 Add types for QueryFilters which flow down to Query<> and QueryKey/DataTag types
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Labels: package: query-core

#8365 fix: handle optional and non-null chaining in exhaustive-deps
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Labels: package: eslint-plugin-query

#8367 fix(angular-query): improve compatibility with Jest
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/tsup.config.js
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsup.config.js
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8361 Include optional TError on DataTag so that getQueryState can infer the error type correctly
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/queryOptions.ts
Labels: package: vue-query, package: query-core
