Repository TanStack/query, pull requests merged in 2024-08, with the labels that each got.

#7837 fix(core): query should reset to default state even when created from hydration
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
Labels: package: query-core

#7351 fix(angular-query-experimental): allow returning undefined in initialData function
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/queryOptions.ts
Labels: package: react-query, package: angular-query-experimental

#7806 refactor(solid-query): separate queryOptions from createQuery file
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/createInfiniteQuery.ts
  packages/solid-query/src/createQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/solid-query/src/queryOptions.ts
Labels: package: solid-query

#7838 fix(svelte-query): allow returning undefined in initialData function
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
Labels: package: svelte-query

#7843 fix(query-core): make CancelledError extend Error
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query, package: query-core

#7849 docs(react-query):fix-missing-isServer-import
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#7846 docs: add suspensive react query to community projects
  docs/framework/react/community/community-projects.md
Labels: documentation

#7861 fix(angular-query): reorder query function declarations
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/tsconfig.json
Labels: package: angular-query-experimental

#7865 Fix typo
  docs/framework/react/react-native.md
Labels: documentation

#7860 fix(react-query): ensure we have a gcTime of at least 1 second when using suspense
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/suspense.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Labels: package: react-query

#7655 Update vue community projects
  docs/framework/vue/community/community-projects.md
Labels: documentation

#7881 fix(docs): dividing installation scripts
  docs/eslint/eslint-plugin-query.md
  docs/framework/angular/devtools.md
  docs/framework/angular/installation.md
  docs/framework/react/devtools.md
  docs/framework/react/installation.md
  docs/framework/solid/devtools.md
  docs/framework/solid/installation.md
  docs/framework/svelte/installation.md
  docs/framework/vue/devtools.md
  docs/framework/vue/installation.md
  packages/angular-query-experimental/README.md
  packages/vue-query/README.md
Labels: documentation, package: vue-query, package: angular-query-experimental

#7918 fix(docs): typos
  docs/framework/react/guides/request-waterfalls.md
Labels: documentation

#7913 fix(query-core): shorten listeners code
  packages/query-core/src/subscribable.ts
Labels: package: query-core

#7898 fix(docs): typos
  docs/framework/angular/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/reactivity.md
Labels: documentation

#7911 feat(eslint-plugin-query): add rule that disallows putting the result of query hooks directly in a React hook dependency array
  docs/config.json
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-unstable-deps.md
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
Labels: documentation, package: eslint-plugin-query

#7928 fix(docs): Make copyable example useful by default
  docs/framework/angular/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
Labels: documentation

#7937 fix(react-query): Add missing React 19 peer dependency.
  packages/react-query/package.json
Labels: package: react-query

#7947 chore(angular-query): add type tests for injectQuery
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
Labels: package: angular-query-experimental

#7956 fix(types): error booleans shouldn't permanently be typed as `false`
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
Labels: package: react-query, package: query-core, package: solid-query

#7958 docs: Add known limitation about cancellation with suspense hooks
  docs/framework/react/guides/query-cancellation.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Labels: documentation

#7971 chore(devtools): consistent casing of devtools types
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/react-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/types.ts
Labels: package: react-query-devtools, package: svelte-query-devtools, package: query-devtools, package: angular-query-devtools-experimental, package: vue-query-devtools, package: solid-query-devtools

#7972 chore: better type vs value import separation
  examples/react/react-native/src/components/ErrorMessage.tsx
  examples/react/react-native/src/components/ListItem.tsx
  examples/react/react-native/src/components/LoadingIndicator.tsx
  examples/react/react-native/src/hooks/useAppState.ts
  examples/react/react-native/src/navigation/MoviesStack.tsx
  examples/react/react-native/src/navigation/types.ts
  examples/react/react-native/src/screens/MovieDetailsScreen.tsx
  examples/react/react-native/src/screens/MoviesListScreen.tsx
  examples/react/react-router/src/routes/root.tsx
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  examples/svelte/playground/src/routes/TodosList.svelte
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/svelte-query/src/useHydrate.ts
  packages/svelte-query/src/useIsFetching.ts
  packages/svelte-query/src/useIsMutating.ts
Labels: package: react-query, package: svelte-query, package: angular-query-experimental

#7973 chore: simplify clean commands
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#7923 fix(angular-query): fix type of isSuccess, isError, isPending, isIdle
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/types.ts
Labels: package: angular-query-experimental

#7968 feat(eslint-plugin): use typescript-eslint v8 stable
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/__tests__/no-unstable-deps.test.ts
  packages/eslint-plugin-query/src/__tests__/stable-query-client.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  pnpm-lock.yaml
Labels: package: eslint-plugin-query

#7984 chore(deps): update eslint plugins
  examples/react/basic/package.json
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/eslint.config.js
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/svelte/simple/tsconfig.json
  examples/svelte/simple/tsconfig.node.json
  examples/vue/basic/tsconfig.json
  examples/vue/persister/tsconfig.json
  integrations/vue-vite/tsconfig.json
  integrations/vue-vite/tsconfig.node.json
  package.json
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Labels: package: react-query

#7966 fix(query-core): handle errors that occur inside `setData` method
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/utils.ts
Labels: package: query-core

#7993 chore(angular-query): add injection context tests
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
Labels: package: angular-query-experimental

#7994 docs(angular-query): update overview and readme
  docs/framework/angular/overview.md
  examples/angular/router/src/app/components/post.component.ts
  packages/angular-query-experimental/README.md
Labels: documentation, package: angular-query-experimental
