Repository TanStack/query, pull requests merged in 2024-04, with the labels that each got.

#7187 fix(codemod): add support for useMutation
  packages/query-codemods/src/v5/remove-overloads/__testfixtures__/bug-reports.input.tsx
  packages/query-codemods/src/v5/remove-overloads/__testfixtures__/bug-reports.output.tsx
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.js
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.js
Labels: package: query-codemods

#7213 test(eslint-plugin): add missing dependencies test for FunctionExpression syntax
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Labels: package: eslint-plugin-query

#7212 fix(types): add pageParam and direction as optional to "normal" queryFn
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test-d.tsx
Labels: package: react-query, package: query-core

#7215 fix(core): do not invoke `combine` in constructor
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query, package: query-core

#7190 docs: `gcTime` max value
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
Labels: documentation

#7211 docs: migrate docs to use path-based navigation instead of route-based
  docs/framework/angular/guides/caching.md
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/angular/installation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/caching.md
  docs/framework/react/guides/dependent-queries.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/invalidations-from-mutations.md
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/network-mode.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-functions.md
  docs/framework/react/guides/query-invalidation.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/request-waterfalls.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/guides/testing.md
  docs/framework/react/guides/updates-from-mutation-responses.md
  docs/framework/react/installation.md
  docs/framework/react/overview.md
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/createSyncStoragePersister.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/quick-start.md
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/useQueries.md
  docs/framework/react/reference/useQuery.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
  docs/framework/react/typescript.md
  docs/framework/svelte/installation.md
  docs/framework/svelte/ssr.md
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/guides/suspense.md
  docs/framework/vue/installation.md
  docs/framework/vue/overview.md
  docs/framework/vue/quick-start.md
Labels: documentation

#7225 chore(angular-query): update to angular 17.3
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-standalone-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#7233 Feature/memoize combine
  docs/framework/react/reference/useQueries.md
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: documentation, package: react-query, package: query-core

#7234 docs: render optimizations
  docs/config.json
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/reference/useQuery.md
Labels: documentation

#7235 Update with typo render-optimizations.md
  docs/framework/react/guides/render-optimizations.md
Labels: documentation

#7243 docs<query>: update the documentation of dependent queries in Vue sec…
  docs/framework/vue/guides/dependent-queries.md
Labels: documentation

#7224 perf(asyncThrottle): Improve performance
  packages/query-async-storage-persister/src/asyncThrottle.ts
Labels: package: query-async-storage-persister

#7246 chore: Fix typos in render-optimizations.md
  docs/framework/react/guides/render-optimizations.md
Labels: documentation

#7216 refactor(react-query): rename internal type names of useSuspenseQueries, useQueries more intuitively
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
Labels: package: react-query

#7252 docs: correct useQuery `status` type
  docs/framework/react/reference/useQuery.md
Labels: documentation

#7259 docs: Remove references to React.FC
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/QueryErrorResetBoundary.md
  docs/framework/react/reference/useQueryErrorResetBoundary.md
Labels: documentation

#7260 fix(react-query): reorder query function declarations
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useInfiniteQuery.ts
  packages/react-query/src/useQuery.ts
Labels: package: react-query

#7266 fix(solid-query): Correct error handling after SSR error
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7261 chore(angular-query): update Angular Vite plugin
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental

#7272 feat(solid-query): Rework internals of createBaseQuery
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/package.json
  packages/solid-query/src/createBaseQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/setBatchUpdatesFn.ts
Labels: package: solid-query, package: solid-query-persist-client

#7273 fix(solid-query): throwOnError now throws to EB where data is accessed
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7277 fix(solid-query): Fix reconciliation strategy for createBaseQuery
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query, package: solid-query-persist-client

#7279 fix(solid-query): Resolve resource before unmounting query
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7269 docs(react): Update spelling in devtools.md
  docs/framework/react/devtools.md
Labels: documentation

#7291 fix(solid-query): Simplify SSR Hydration Strategy
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7292 docs(solid-query): Add Astro Example
  docs/config.json
  examples/solid/astro/.gitignore
  examples/solid/astro/README.md
  examples/solid/astro/astro.config.mjs
  examples/solid/astro/package.json
  examples/solid/astro/public/favicon.svg
  examples/solid/astro/src/components/Link.tsx
  examples/solid/astro/src/components/SolidApp.tsx
  examples/solid/astro/src/env.d.ts
  examples/solid/astro/src/layouts/MainLayout.astro
  examples/solid/astro/src/pages/index.astro
  examples/solid/astro/src/utils/index.ts
  examples/solid/astro/tailwind.config.mjs
  examples/solid/astro/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

#7299 fix(solid-query): Trigger refetch when query changes before hydration
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7300 fix(solid-query): Allow disabled queries to be SSR'd
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7312 Feature/scoped mutations
  docs/framework/react/guides/mutations.md
  docs/framework/react/reference/useMutation.md
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/mutation.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: documentation, package: react-query, package: query-core

#7247 fix(docs): broken internal links in the query docs
  docs/framework/angular/guides/caching.md
  docs/framework/angular/overview.md
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/caching.md
  docs/framework/react/guides/dependent-queries.md
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/network-mode.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/query-options.md
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/guides/ssr.md
  docs/framework/react/guides/suspense.md
  docs/framework/react/guides/testing.md
  docs/framework/react/guides/updates-from-mutation-responses.md
  docs/framework/react/installation.md
  docs/framework/react/overview.md
  docs/framework/react/plugins/createAsyncStoragePersister.md
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/useQuery.md
  docs/framework/react/typescript.md
  docs/framework/svelte/overview.md
  docs/framework/vue/community/lukemorales-query-key-factory.md
  docs/framework/vue/guides/ssr.md
  docs/framework/vue/overview.md
  docs/reference/InfiniteQueryObserver.md
  docs/reference/QueriesObserver.md
  docs/reference/QueryCache.md
  docs/reference/QueryClient.md
  docs/reference/QueryObserver.md
Labels: documentation

#7321 fix: Docs pages are breaking due to diff in markdown
  docs/framework/react/guides/migrating-to-react-query-3.md
  docs/framework/react/guides/migrating-to-react-query-4.md
  docs/framework/react/guides/migrating-to-v5.md
Labels: documentation

#7326 feat(core): make observers on Query a public property
  packages/query-core/src/query.ts
Labels: package: query-core

#7333 fix(codemods): Use .cjs extension for CommonJS files
  docs/framework/react/guides/migrating-to-v5.md
  knip.json
  packages/query-codemods/src/utils/index.cjs
  packages/query-codemods/src/utils/transformers/query-cache-transformer.cjs
  packages/query-codemods/src/utils/transformers/query-client-transformer.cjs
  packages/query-codemods/src/utils/transformers/use-query-like-transformer.cjs
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/__tests__/key-transformation.test.js
  packages/query-codemods/src/v4/__tests__/replace-import-specifier.test.cjs
  packages/query-codemods/src/v4/key-transformation.cjs
  packages/query-codemods/src/v4/replace-import-specifier.cjs
  packages/query-codemods/src/v4/utils/replacers/key-replacer.cjs
  packages/query-codemods/src/v5/is-loading/__tests__/is-loading.test.cjs
  packages/query-codemods/src/v5/is-loading/is-loading.cjs
  packages/query-codemods/src/v5/keep-previous-data/__tests__/keep-previous-data.test.cjs
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
  packages/query-codemods/src/v5/keep-previous-data/utils/already-has-placeholder-data-property.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.js
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/query-fn-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/index.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/unknown-usage-error.cjs
  packages/query-codemods/src/v5/rename-hydrate/__tests__/rename-hydrate.test.cjs
  packages/query-codemods/src/v5/rename-hydrate/rename-hydrate.cjs
  packages/query-codemods/src/v5/rename-properties/__tests__/rename-properties.test.cjs
  packages/query-codemods/src/v5/rename-properties/rename-properties.cjs
Labels: documentation, package: query-codemods

#7348 docs(createSyncStoragePersister): fix typo
  docs/framework/react/plugins/createSyncStoragePersister.md
Labels: documentation

#7350 feat(angular-query-experimental): support injection in injectQuery callback
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-query.ts
Labels: package: angular-query-experimental
