Repository TanStack/query, pull requests merged in 2024-10, with the labels that each got.

#8113 docs(react-query): Fix broken route on eslint-plugin-query.md
  docs/eslint/eslint-plugin-query.md
Labels: documentation

#7988 feat: add support for `React.use()`
  docs/framework/react/guides/suspense.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/retryer.ts
  packages/query-core/src/thenable.ts
  packages/query-core/src/types.ts
  packages/react-query/package.json
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/vite.config.ts
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Labels: documentation, package: react-query, package: query-core, package: solid-query, package: svelte-query

#8105 Fix: Argument for onSuccess function | Update mutations.md
  docs/framework/react/guides/mutations.md
Labels: documentation

#8106 docs: sentence wording
  docs/framework/react/reference/hydration.md
Labels: documentation

#8103 test(vue-query): add test and improve typing
  packages/vue-query/src/__tests__/utils.test.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Labels: package: vue-query

#8117 fix(eslint-plugin-query): update deprecated `getSourceCode()` method
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
Labels: package: eslint-plugin-query

#8135 fix(eslint-plugin-query): change naming for `text` variables
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Labels: package: eslint-plugin-query

#8151 fix: new cache entry check
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query

#8150 fix(eslint-plugin-query): handle callable params within exaustive-deps rule
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Labels: package: eslint-plugin-query

#8153 fix(core): do not inform QueriesObserver subscribers if combined result hasn't changed
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: package: react-query, package: query-core

#8142 fix(eslint-plugin-query): `no-shadow` lint warning in `insertAtPositions()`
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
Labels: package: eslint-plugin-query

#8143 fix(eslint-plugin-query): `expect-expect` warning for `expectArrayEqualIgnoreOrder`
  packages/eslint-plugin-query/eslint.config.js
Labels: package: eslint-plugin-query

#8154 fix(react-query): Allow optional initialData in infiniteQueryOptions
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
Labels: package: react-query

#8107 fix: improve long running task performance in query core
  packages/query-core/src/queriesObserver.ts
Labels: package: query-core

#8158 fix(eslint-plugin-query): ignore all non-identifier properties in rule `infinite-query-property-order`
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Labels: package: eslint-plugin-query

#8157 fix(react-query): Allow optional initialData object in infiniteQueryOptions
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
Labels: package: react-query

#8081 test(react-query): update describe in `infiniteQueryOptions.test-d.tsx`
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Labels: package: react-query

#8161 fix(core): don't consider queries as enabled if they have no observers and have never fetched (successfully or erroneously)
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Labels: package: query-core

#8162 fix: Allow optional initialData object in queryOptions
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
Labels: package: react-query

#8168 fix(core): correctly gc query when suspense is used when query unmounts while it's still fetching
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
Labels: package: react-query, package: query-core

#8082 refactor: throw type error when `skipToken` is present in suspense query
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
Labels: package: react-query

#8169 fix: move thenable-recreation into createResult
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/vue-query/src/useMutationState.ts
Labels: package: react-query, package: vue-query, package: query-core

#8174 fix(react-query): do not overwrite staleTime with the suspense default value if it's a function
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/suspense.ts
Labels: package: react-query

#8176 fix: make queryFn optional again
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
Labels: package: react-query

#8186 fix(react-query): resolve overload matches error with exactOptionalPropertyTypes in query options
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
Labels: package: react-query

#8190 Fix typo: 'hydrate' to 'dehydrate' in documentation
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#8193 docs(react-query): fix prefetch with suspense example
  docs/framework/react/guides/prefetching.md
Labels: documentation

#8201 Update disabling-queries.md
  docs/framework/react/guides/disabling-queries.md
Labels: documentation

#8208 refactor(react-query): remove unnecessary test file (__test__/suspense.tsx, suspense.test-d.tsx)
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#8191 chore(query-core): define queryCache notify method's return type
  packages/query-core/src/queryCache.ts
Labels: package: query-core

#8211 fix(react-query): make sure promises are always finalized
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query

#8205 chore(docs): update useQueryFocusAware docs
  docs/framework/react/react-native.md
Labels: documentation

#8212 chore(react-query): import `query-persist-client-core` into test as workspace dependency
  packages/react-query/package.json
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
  pnpm-lock.yaml
Labels: package: react-query
