Repository TanStack/query, pull requests merged in 2024-09, with the labels that each got.

#7930 fix(vue-query): invalidate queries immediately after call `invalidateQueries`
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/queryClient.ts
Labels: package: vue-query

#8001 docs: update SSR guide for nuxt2
  docs/framework/vue/guides/ssr.md
Labels: documentation

#8004 fix(query-core): Remove error thrown inside `replaceData`
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/utils.ts
Labels: package: query-core

#7788 feat(react-query-dev-tools): Add ReactQueryDevToolsPanel support
  docs/config.json
  docs/framework/react/devtools.md
  examples/react/devtools-panel/.eslintrc
  examples/react/devtools-panel/.gitignore
  examples/react/devtools-panel/README.md
  examples/react/devtools-panel/index.html
  examples/react/devtools-panel/package.json
  examples/react/devtools-panel/public/emblem-light.svg
  examples/react/devtools-panel/src/index.tsx
  examples/react/devtools-panel/tsconfig.json
  examples/react/devtools-panel/vite.config.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/DevtoolsComponent.tsx
  packages/query-devtools/src/DevtoolsPanelComponent.tsx
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/TanstackQueryDevtools.tsx
  packages/query-devtools/src/TanstackQueryDevtoolsPanel.tsx
  packages/query-devtools/src/constants.ts
  packages/query-devtools/src/contexts/PiPContext.tsx
  packages/query-devtools/src/contexts/QueryDevtoolsContext.ts
  packages/query-devtools/src/contexts/ThemeContext.ts
  packages/query-devtools/src/contexts/index.ts
  packages/query-devtools/src/index.ts
  packages/query-devtools/src/utils.tsx
  packages/query-devtools/tsup.config.js
  packages/react-query-devtools/src/ReactQueryDevtools.tsx
  packages/react-query-devtools/src/ReactQueryDevtoolsPanel.tsx
  packages/react-query-devtools/src/index.ts
  packages/react-query-devtools/src/production.ts
  pnpm-lock.yaml
Labels: documentation, package: react-query-devtools, package: query-devtools

#7903 refactor(queryClient): accept generics on setQueryDefaults and setMutationDefaults
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/queryClient.ts
Labels: package: vue-query, package: query-core

#7733 fix(vue-query): use shallowReactive and shallowReadonly to prevent performance slow down for large dataset
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useMutationState.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
  packages/vue-query/src/utils.ts
Labels: package: vue-query

#8014 feat(react-query): add optional queryClient parameter like other hooks
  packages/react-query/src/prefetch.ts
Labels: package: react-query

#8021 Update advanced-ssr.md
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#8016 Added missing `type="button"` on DevTools-button
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#8028 fix(react-query): split prefetch.ts
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/usePrefetchInfiniteQuery.tsx
  packages/react-query/src/usePrefetchQuery.tsx
Labels: package: react-query

#7916 type(query-core): add Override
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/types.ts
  packages/react-query/src/types.ts
  packages/solid-query/src/types.ts
  packages/svelte-query/src/types.ts
Labels: package: react-query, package: query-core, package: solid-query, package: svelte-query, package: angular-query-experimental

#8020 docs(react-query): Update React Suspens Link in README.md
  packages/react-query/README.md
Labels: package: react-query

#8031 fix(query-core): jsdoc of notifyManager
  packages/query-core/src/notifyManager.ts
Labels: package: query-core

#8041 docs(react-query): recommend against throwing errors in `select`
  docs/framework/react/guides/render-optimizations.md
Labels: documentation

#8048 feat(core): ensureInfiniteQueryData
  docs/reference/QueryClient.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
Labels: documentation, package: react-query, package: query-core

#8049 fix(core): retry for infinite queries (issue #8046)
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Labels: package: query-core

#8051 fix(core): make sure infiniteQuery always fetches the first page
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Labels: package: query-core

#8068 add missing </Show> closing tag to Solid docs
  docs/framework/solid/reference/createQuery.md
Labels: documentation

#8072 feat(eslint-plugin-query): add rule to ensure property order of infinite query functions
  docs/config.json
  docs/eslint/infinite-query-property-order.md
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.test.ts
  packages/eslint-plugin-query/src/__tests__/test-utils.ts
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
  packages/eslint-plugin-query/src/rules/no-unstable-deps/no-unstable-deps.rule.ts
  pnpm-lock.yaml
Labels: documentation, package: eslint-plugin-query

#8074 fix(eslint-plugin-query): relax property order rule to ignore relative order of getPreviousPageParam and getNextPageParam
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.utils.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/constants.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.utils.ts
Labels: package: eslint-plugin-query

#8067 Don't use $ prefix in Bash examples
  docs/eslint/eslint-plugin-query.md
Labels: documentation

#8077 docs(react-query): fix queryClient description of useMutation and use…
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
Labels: documentation

#8090 fix(eslint-plugin-query): correctly handle call-expression spread
  packages/eslint-plugin-query/src/__tests__/infinite-query-property-order.rule.test.ts
  packages/eslint-plugin-query/src/rules/infinite-query-property-order/infinite-query-property-order.rule.ts
Labels: package: eslint-plugin-query

#8095 feat(query-devtools): Add bulk edit option for simple objects and arrays
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/Explorer.tsx
  packages/query-devtools/src/icons/index.tsx
Labels: package: query-devtools

#8102 documentation: missing code format
  docs/eslint/stable-query-client.md
Labels: documentation

#8104 fix(eslint-plugin): fix legacy recommended config
  docs/eslint/eslint-plugin-query.md
  examples/react/algolia/.eslintrc
  examples/react/algolia/eslint.config.js
  packages/eslint-plugin-query/src/index.ts
Labels: documentation, package: eslint-plugin-query

#8097 Update useQueries.md
  docs/framework/react/reference/useQueries.md
Labels: documentation
