Repository TanStack/query, pull requests merged in 2024-03, with the labels that each got.

#7028 Docs: Update React Native Example code to Match React Native syntax.
  docs/framework/react/react-native.md
Labels: documentation

#6999 feat(react-query): add typesafe query disabling via skipToken
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/typescript.md
  docs/framework/vue/guides/disabling-queries.md
  examples/react/algolia/src/SearchResults.tsx
  examples/react/algolia/src/useAlgolia.ts
  examples/react/basic-typescript/src/index.tsx
  packages/angular-query-experimental/src/inject-queries.ts
  packages/query-core/src/index.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/suspense.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
Labels: documentation, package: react-query, package: query-core, package: solid-query, package: svelte-query, package: angular-query-experimental

#7016 feat(angular-query): support required input signal on injectMutation
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/lazy-init/lazy-init.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
Labels: package: angular-query-experimental

#7040 fix(angular-query): run observer listeners in angular zone
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Labels: package: angular-query-experimental

#7052 fix(angular-query): support throwOnError
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
Labels: package: angular-query-experimental

#6990 test(react-query): update vitest type test correctly
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Labels: package: react-query

#7060 test: setup global mock restore
  packages/angular-query-devtools-experimental/vite.config.ts
  packages/angular-query-experimental/vite.config.ts
  packages/eslint-plugin-query/vite.config.ts
  packages/query-async-storage-persister/vite.config.ts
  packages/query-codemods/vite.config.ts
  packages/query-core/src/tests/query.test.tsx
  packages/query-core/vite.config.ts
  packages/query-devtools/vite.config.ts
  packages/query-persist-client-core/vite.config.ts
  packages/query-sync-storage-persister/vite.config.ts
  packages/react-query-devtools/vite.config.ts
  packages/react-query-persist-client/vite.config.ts
  packages/react-query/vite.config.ts
  packages/solid-query-persist-client/vite.config.ts
  packages/solid-query/vite.config.ts
  packages/svelte-query-persist-client/vite.config.ts
  packages/svelte-query/vite.config.ts
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client

#7039 test(query-core): update vitest type test correctly
  packages/query-core/src/tests/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/tests/infiniteQueryObserver.test.tsx
  packages/query-core/src/tests/queryClient.test-d.tsx
  packages/query-core/src/tests/queryClient.types.test.tsx
  packages/query-core/src/tests/queryObserver.test-d.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/query-core/src/tests/queryObserver.types.test.tsx
  packages/query-core/src/tests/utils.ts
Labels: package: query-core

#7061 test: try to fix flakiness around offline mocks
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Labels: package: react-query

#6988 test(vue-query): update vitest type test correctly
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Labels: package: vue-query

#7031 test(solid-query): update vitest type test correctly
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test-d.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
Labels: package: solid-query

#7066 fix(core): pass isFocused boolean to focusManager callback
  packages/query-core/src/focusManager.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/focusManager.test.tsx
Labels: package: query-core

#7063 chore(vue-query): add vite.config.ts as tsconfig's include field
  packages/vue-query/tsconfig.json
  packages/vue-query/vite.config.ts
Labels: package: vue-query

#7005 fix(devtools): add shadowDOMTarget property to react-query-devtool
  docs/config.json
  docs/framework/angular/devtools.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/vue/devtools.md
  examples/react/shadow-dom/.eslintrc.cjs
  examples/react/shadow-dom/.gitignore
  examples/react/shadow-dom/README.md
  examples/react/shadow-dom/index.html
  examples/react/shadow-dom/package.json
  examples/react/shadow-dom/src/index.css
  examples/react/shadow-dom/src/main.tsx
  examples/react/shadow-dom/src/vite-env.d.ts
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/react/shadow-dom/vite.config.ts
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/query-devtools/src/Context.ts
  packages/query-devtools/src/Devtools.tsx
  packages/query-devtools/src/index.tsx
  packages/query-devtools/src/utils.tsx
  packages/react-query-devtools/src/devtools.tsx
  packages/solid-query-devtools/src/devtools.tsx
  packages/svelte-query-devtools/src/Devtools.svelte
  packages/vue-query-devtools/src/devtools.vue
  packages/vue-query-devtools/src/types.ts
  pnpm-lock.yaml
Labels: documentation, package: react-query-devtools, package: svelte-query-devtools, package: query-devtools, package: angular-query-devtools-experimental, package: vue-query-devtools, package: solid-query-devtools

#7029 fix(query-core): Replace the deprecated 'window' with 'globalThis' fo…
  packages/query-core/src/utils.ts
Labels: package: query-core

#7081 fix: make sure all options of a query are reactive
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
Labels: package: react-query, package: query-core, package: solid-query

#7024 Typo fix in url for react query native dev tools link
  docs/framework/react/devtools.md
Labels: documentation

#7059 Feature/7055 stale disabled queries
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/tests/queryCache.test.tsx
  packages/query-core/src/tests/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
Labels: package: react-query, package: query-core, package: solid-query

#7087 docs: Update docs/config.json
  docs/config.json
Labels: documentation

#7090 fix(devtools): apply styles to explorer component
  examples/react/shadow-dom/src/DogList.tsx
  examples/react/shadow-dom/src/main.tsx
  packages/query-devtools/src/Explorer.tsx
Labels: package: query-devtools

#7092 fix: query key with nullish coalescing operator
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Labels: package: eslint-plugin-query

#7096 fix(query-devtools): Preserve offline status after minimize
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#6996 feat(ensureQueryData): add 'revalidateIfStale' option
  docs/reference/QueryClient.md
  packages/query-core/src/queryClient.ts
  packages/query-core/src/tests/queryClient.test.tsx
  packages/query-core/src/types.ts
Labels: documentation, package: query-core

#7107 fix(ensureQueryData): add correct type to vue plugin
  packages/vue-query/src/queryClient.ts
Labels: package: vue-query

#7104 fix(core): do not update completed mutations
  packages/query-core/src/mutationObserver.ts
  packages/query-core/src/tests/mutationObserver.test.tsx
Labels: package: query-core

#7112 fix(query-devtools): Fix PiP mode styles with shadow dom
  examples/react/shadow-dom/src/DogList.tsx
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#7114 fix(core): optimistic results reflect correct state
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query, package: query-core

#7127 fix(solid-query): Fix query refetch after SSR
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7122 refactor(query-core): directory name for test files as `tests` → `__tests__` consistently
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/__tests__/utils.ts
Labels: package: query-core

#7132 fix(guides/disabling-queries): typo
  docs/framework/react/guides/disabling-queries.md
Labels: documentation

#7119 ci(*): add script `attw --pack` for all packages
  nx.json
  package.json
  packages/angular-query-devtools-experimental/.attw.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/.attw.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/.attw.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/.attw.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/.attw.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/.attw.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#7143 fix(vue-query): respect `throwOnError` in `suspense`
  docs/framework/react/guides/disabling-queries.md
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useBaseQuery.ts
Labels: documentation, package: vue-query

#7145 fix(vue-query): disable default vue devtools integration due to breaking changes (with option to enable it)
  packages/vue-query/package.json
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/vueQueryPlugin.ts
Labels: package: vue-query

#7140 docs: Update docs/framework/guides
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/ssr.md
Labels: documentation

#7136 add a note for mutations in the dev tools
  docs/framework/react/devtools.md
Labels: documentation

#7139 feat(*): add `OmitKeyof` to Omit object by object's keys strictly
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/types.ts
  packages/query-core/src/__tests__/OmitKeyof.test-d.ts
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/types.ts
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/src/__tests__/AwaitOnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/FreshData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/InitialData/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/OnSuccess/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RemoveCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/src/__tests__/UseQueries/Provider.svelte
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/types.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
  packages/vue-query/src/queryClient.ts
Labels: package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: svelte-query, package: angular-query-experimental, package: solid-query-persist-client, package: svelte-query-persist-client

#7170 Fixed typo: corrected contraction to possession
  docs/framework/react/guides/ssr.md
Labels: documentation

#7150 fix(*): infer data type correctly when conditional skipToken is passed to useQueries
  packages/angular-query-experimental/src/inject-queries.ts
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/useQueries.ts
Labels: package: react-query, package: vue-query, package: solid-query, package: svelte-query, package: angular-query-experimental

#7175 refactor(query-core): replace `getQueryCache()` with `#queryCache` for consistency
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#7174 fix(solid-query): Hydrate correct queryKey on hydration
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7182 style(query-core): Fix prettier formatting error
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#7188 fix(query-devtools): Fix Trigger Loading Button
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#7185 docs: use nuxt `import.meta.*` properties
  docs/framework/vue/guides/ssr.md
  examples/vue/nuxt3/plugins/vue-query.ts
Labels: documentation
