Repository TanStack/query, pull requests merged in 2024-12, with the labels that each got.

#8304 test(query-core): add type check tests for `queryObserver`
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
Labels: package: query-core

#8385 fix: handle non-null at then end of var in exhaustive-deps
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
Labels: package: eslint-plugin-query

#8375 Fix type errors when using fully-typed inputs like QueryFilters<Data, Error>, and test all QueryClient methods to detect similar issues
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/queryClient.ts
  packages/query-core/src/utils.ts
Labels: package: query-core

#8387 docs: useQuery to object syntax
  docs/framework/vue/guides/query-keys.md
Labels: documentation

#8371 feat(Angular-query): add Angular auto-refetching example
  docs/config.json
  examples/angular/auto-refetching/.devcontainer/devcontainer.json
  examples/angular/auto-refetching/.eslintrc.cjs
  examples/angular/auto-refetching/README.md
  examples/angular/auto-refetching/angular.json
  examples/angular/auto-refetching/package.json
  examples/angular/auto-refetching/src/app/app.component.ts
  examples/angular/auto-refetching/src/app/app.config.ts
  examples/angular/auto-refetching/src/app/components/auto-refetching.component.html
  examples/angular/auto-refetching/src/app/components/auto-refetching.component.ts
  examples/angular/auto-refetching/src/app/interceptor/mock-api.interceptor.ts
  examples/angular/auto-refetching/src/app/services/tasks.service.ts
  examples/angular/auto-refetching/src/favicon.ico
  examples/angular/auto-refetching/src/index.html
  examples/angular/auto-refetching/src/main.ts
  examples/angular/auto-refetching/tsconfig.app.json
  examples/angular/auto-refetching/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

#8407 fix: allow passing enabled:true when skipToken is present
  packages/query-core/src/queryClient.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query, package: query-core

#8397 Fix typo in useMutation.md
  docs/framework/react/reference/useMutation.md
Labels: documentation

#8411 docs: remove confusing sentence
  docs/reference/QueryClient.md
Labels: documentation

#8413 📝 docs(query): add link to infiniteQueryOptions reference
  docs/framework/react/guides/query-options.md
Labels: documentation

#8415 Removed unused notifyOnChangeProps prop
  docs/framework/react/react-native.md
Labels: documentation

#8409 fix(angular-query): improve support for required signals
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/lazy-init/lazy-init.ts
  packages/angular-query-experimental/src/util/lazy-signal-initializer/lazy-signal-initializer.ts
Labels: package: angular-query-experimental

#8419 fix(angular-query): fix error NG0600 on Angular v16-v18
  packages/angular-query-experimental/src/create-base-query.ts
Labels: package: angular-query-experimental

#8422 fix(angular-query): fix console warning on Angular 19
  packages/angular-query-experimental/src/create-base-query.ts
Labels: package: angular-query-experimental

#8408 chore: examples to react19
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/devtools-panel/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-native/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  integrations/react-next-15/package.json
  integrations/react-vite/package.json
  integrations/react-webpack-4/package.json
  integrations/react-webpack-5/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/test-setup.ts
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#8425 fix(query-core): respect initialData for queryClient.ensureQueryData
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#8437 chore(deps): use stable `@types/react` version
  examples/react/nextjs-app-prefetching/package.json
  examples/react/shadow-dom/package.json
  integrations/react-next-15/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#8436 docs: use correct `broadcastChannel` default value and type name
  docs/framework/react/plugins/broadcastQueryClient.md
Labels: documentation

#8394 Fix issues with queryOptions factory method types
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/types.ts
Labels: package: react-query, package: query-core

#8448 docs: add more info to description of `staleTime` field of query options
  docs/framework/react/reference/useQuery.md
Labels: documentation

#8464 chore: update dependencies
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .nvmrc
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/playground/src/styles.css
  examples/react/prefetching/package.json
  examples/react/react-router/src/index.css
  examples/solid/astro/package.json
  examples/solid/solid-start-streaming/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/playground/src/app.css
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  integrations/react-next-14/package.json
  integrations/react-next-15/package.json
  integrations/vue-vite/package.json
  package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-devtools/src/Devtools.tsx
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/svelte-query-devtools/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: eslint-plugin-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: vue-query-devtools, package: react-query-next-experimental

#8447 Update infiniteQueryOptions.md
  docs/framework/react/reference/infiniteQueryOptions.md
Labels: documentation

#8468 Investigating type naming issues with symbols
  packages/query-core/src/types.ts
Labels: package: query-core

#8427 chore(react-query): update devDeps
  examples/react/nextjs-app-prefetching/package.json
  examples/react/shadow-dom/package.json
  integrations/react-next-15/package.json
  package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#8472 fix(solid-query): use `DefaultError` type on error in`queryOptions`
  packages/solid-query/src/queryOptions.ts
Labels: package: solid-query

#8478 handle react-native resolver
  packages/react-query/package.json
Labels: package: react-query
