Repository TanStack/query, pull requests merged in 2024-06, with the labels that each got.

#7504 chore(angular-query): update angular
  examples/angular/basic/package.json
  examples/angular/infinite-query-with-max-pages/package.json
  examples/angular/router/package.json
  examples/angular/simple/package.json
  integrations/angular-cli-standalone-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#7499 Update community-projects.md - Add Rapini
  docs/framework/react/community/community-projects.md
Labels: documentation

#7452 test(vue-query): vitest type test correctly
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryClient.type.test.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.types.test.ts
  packages/vue-query/src/__tests__/test-utils.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/__tests__/useInfiniteQuery.types.test.tsx
  packages/vue-query/src/__tests__/useMutation.test-d.tsx
  packages/vue-query/src/__tests__/useMutation.types.test.tsx
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.types.test.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/__tests__/useQuery.types.test.ts
Labels: package: vue-query

#7456 docs: update `usePrefetchQuery` to avoid infinite refetching
  docs/framework/react/guides/prefetching.md
Labels: documentation

#7484 refactor(*): improved type inference for useQueries with skipToken
  packages/angular-query-experimental/src/inject-queries.ts
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Labels: package: react-query, package: vue-query, package: solid-query, package: svelte-query, package: angular-query-experimental

#7528 Bugfix for #7527
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7537 fix(svelte-query): infer query data type in queryOptions
  packages/svelte-query/src/__tests__/queryOptions.test.ts
  packages/svelte-query/src/queryOptions.ts
Labels: package: svelte-query

#7461 docs: add Expo dev tools
  docs/framework/react/react-native.md
Labels: documentation

#7536 refactor(react-query-next-experimental): use isServer to determine server environment
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/suspense.md
  examples/react/nextjs-app-prefetching/app/get-query-client.ts
  examples/react/nextjs-suspense-streaming/src/app/page.tsx
  examples/react/nextjs-suspense-streaming/src/app/providers.tsx
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Labels: documentation, package: react-query-next-experimental

#7257 feat(vue-query): add support for infiniteQueryOptions
  packages/vue-query/src/__tests__/infiniteQueryOptions.types.test.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useInfiniteQuery.test.ts
  packages/vue-query/src/index.ts
  packages/vue-query/src/infiniteQueryOptions.ts
Labels: package: vue-query

#7450 Update optimistic-updates.md
  docs/framework/react/guides/optimistic-updates.md
Labels: documentation

#7539 docs: Update migrating-to-v5.md
  docs/framework/react/guides/migrating-to-v5.md
Labels: documentation

#7540 docs(installation):remove prompt symbol from installation commands(#7293)
  docs/framework/angular/installation.md
  docs/framework/react/installation.md
  docs/framework/solid/installation.md
  docs/framework/svelte/installation.md
  docs/framework/vue/installation.md
Labels: documentation

#7404 feat(solid-query): implemented infiniteQueryOptions
  packages/solid-query/src/__tests__/createInfiniteQuery.test-d.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/createInfiniteQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
Labels: package: solid-query

#7543 feat: ESLint v9 Support
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/configs.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
  packages/eslint-plugin-query/src/rules/stable-query-client/stable-query-client.rule.ts
  packages/eslint-plugin-query/src/types.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
  pnpm-lock.yaml
Labels: package: eslint-plugin-query

#7546 fix: peer dependencies for eslint-plugin-query
  packages/eslint-plugin-query/package.json
Labels: package: eslint-plugin-query

#7541 feat: staleTime as a function
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Labels: documentation, package: query-core

#7553 docs(advanced-ssr): delete unused import
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#7538 feat: hydrate.transformPromise
  docs/framework/react/guides/advanced-ssr.md
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/package.json
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  pnpm-lock.yaml
Labels: documentation, package: query-core

#7556 fix(docs): grammar mistake on migrating-to-v5.md
  docs/framework/react/guides/migrating-to-v5.md
Labels: documentation

#7564 refactor(react-query): improve type inference for useSuspenseQueries with skipToken
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useSuspenseQueries.ts
Labels: package: react-query

#7586 chore: add tests for usePrefetchQuery and usePrefetchInfiniteQuery
  packages/react-query/src/__tests__/prefetch.test.tsx
Labels: package: react-query

#7592 usePrefetchQuery type tests and docs
  docs/config.json
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/prefetch.ts
Labels: documentation, package: react-query

#7598 chore(angular-query): prettier ignore api report
  .prettierignore
  packages/angular-query-experimental/.prettierignore
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
Labels: package: angular-query-experimental

#7600 docs(angular-query): angular zoneless support
  docs/config.json
  docs/framework/angular/zoneless.md
Labels: documentation

#7575 feat(react-query-next-experimental): introduce nonce prop to ReactQueryStreamedHydration
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental/src/ReactQueryStreamedHydration.tsx
Labels: package: react-query-next-experimental

#7603 chore(svelte-query): Move tests folder
  packages/svelte-query/package.json
  packages/svelte-query/tests/CreateMutation.svelte
  packages/svelte-query/tests/CreateQueries.svelte
  packages/svelte-query/tests/CreateQuery.svelte
  packages/svelte-query/tests/UseMutationState.svelte
  packages/svelte-query/tests/context.test.ts
  packages/svelte-query/tests/createMutation.test.ts
  packages/svelte-query/tests/createQueries.test.ts
  packages/svelte-query/tests/createQuery.test.ts
  packages/svelte-query/tests/queryOptions.test.ts
  packages/svelte-query/tests/test-setup.ts
  packages/svelte-query/tests/useMutationState.test.ts
  packages/svelte-query/tests/utils.ts
  packages/svelte-query/tsconfig.json
  packages/svelte-query/vite.config.ts
Labels: package: svelte-query

#7593 refactor(angular-query): align inject-query and inject-infinite-query implementations, refactor create-base-query
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-query.ts
Labels: package: angular-query-experimental

#7360 fix(angular-query-experimental): run mutation callback in injection context
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Labels: package: angular-query-experimental

#7610 chore: Update typescript-eslint to v7
  examples/react/basic-typescript/package.json
  examples/react/shadow-dom/package.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  pnpm-lock.yaml
Labels: package: vue-query, package: query-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: svelte-query-persist-client

#7614 chore: add new tests
  packages/react-query/src/__tests__/prefetch.test.tsx
Labels: package: react-query

#7618 ci: Add tests for TS 4.7, 4.8, 4.9
  examples/react/algolia/tsconfig.json
  examples/react/basic-typescript/tsconfig.json
  examples/react/nextjs-app-prefetching/tsconfig.json
  examples/react/react-router/tsconfig.json
  examples/react/shadow-dom/tsconfig.json
  examples/react/shadow-dom/tsconfig.node.json
  examples/solid/basic-graphql-request/tsconfig.json
  examples/solid/basic-typescript/tsconfig.json
  examples/solid/default-query-function/tsconfig.json
  examples/solid/simple/tsconfig.json
  integrations/react-next-15/tsconfig.json
  integrations/react-next/tsconfig.json
  integrations/vue-vite/tsconfig.json
  integrations/vue-vite/tsconfig.node.json
  package.json
  packages/angular-query-devtools-experimental/tsconfig.build.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.build.json
  packages/angular-query-experimental/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/package.json
  packages/query-core/tsconfig.json
  packages/query-core/tsconfig.legacy.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/package.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/package.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/package.json
  packages/vue-query/tsconfig.json
  pnpm-lock.yaml
  scripts/tsconfig.json
  tsconfig.json
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#7582 feat: usePrefetchQuery
  docs/config.json
  docs/framework/react/guides/prefetching.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  packages/react-query/src/__tests__/prefetch.test-d.tsx
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/prefetch.ts
Labels: documentation, package: react-query

#7566 Add possibility to pass a callback to enabled.
  docs/framework/react/guides/disabling-queries.md
  docs/framework/react/react-native.md
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
Labels: documentation, package: query-core

#7578 docs(vue): up-to-date devtools information
  docs/framework/vue/devtools.md
Labels: documentation

#7628 Fix: docs typo
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/vue/devtools.md
Labels: documentation

#7631 fix(vue-query): types should now properly accept computed queryOptions
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/types.ts
Labels: package: vue-query

#7416 fix(vue-query): useQueries type inference
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Labels: package: vue-query

#7623 Remove the variable assignment from example code
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Labels: documentation

#7637 chore: Update ESLint config
  eslint.config.js
  package.json
  packages/angular-query-devtools-experimental/src/angular-query-devtools.component.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.test.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.test.ts
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/query-codemods/eslint.config.js
  packages/query-codemods/src/v4/__tests__/key-transformation.test.cjs
  packages/query-codemods/src/v4/__tests__/replace-import-specifier.test.cjs
  packages/query-codemods/src/v4/key-transformation.cjs
  packages/query-codemods/src/v5/is-loading/__tests__/is-loading.test.cjs
  packages/query-codemods/src/v5/is-loading/is-loading.cjs
  packages/query-codemods/src/v5/keep-previous-data/__tests__/keep-previous-data.test.cjs
  packages/query-codemods/src/v5/keep-previous-data/keep-previous-data.cjs
  packages/query-codemods/src/v5/remove-overloads/__tests__/remove-overloads.test.cjs
  packages/query-codemods/src/v5/remove-overloads/remove-overloads.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/filter-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/transformers/query-fn-aware-usage-transformer.cjs
  packages/query-codemods/src/v5/remove-overloads/utils/index.cjs
  packages/query-codemods/src/v5/rename-hydrate/__tests__/rename-hydrate.test.cjs
  packages/query-codemods/src/v5/rename-properties/__tests__/rename-properties.test.cjs
  packages/query-core/src/focusManager.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/onlineManager.ts
  packages/query-core/src/queryClient.ts
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/react-query/eslint.config.js
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/suspense.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/queryClient.ts
  pnpm-lock.yaml
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-codemods, package: svelte-query-persist-client, package: vue-query-devtools

#7615 feat(hydration): `dehydrate.serialize` and `hydrate.deserialize`
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/reference/hydration.md
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
Labels: documentation, package: query-core

#7648 ci: Optimise Nx workflow
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .nx/workflows/dynamic-changesets.yaml
  nx.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#7649 docs(examples): Update Next.js version
  examples/react/auto-refetching/next.config.js
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/next.config.js
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/next.config.js
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/next.config.js
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/next.config.js
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/next.config.js
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/next.config.js
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/next.config.js
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/next.config.js
  examples/react/pagination/package.json
  examples/react/prefetching/next.config.js
  examples/react/prefetching/package.json
  integrations/react-next/package.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Labels: package: react-query-next-experimental

#7650 fix: add experimental beforeQuery and afterQuery queryClient options
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query

#7651 fix(react-query) experimental before/after query options
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query
