Repository TanStack/query, pull requests merged in 2024-07, with the labels that each got.

#7654 tests(svelte-query): Reorganise for multiple components per test
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/QueryClientProvider/ParentComponent.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.test.ts
  packages/svelte-query/tests/context/context.test.ts
  packages/svelte-query/tests/createMutation/BaseExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.test.ts
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
  packages/svelte-query/tests/utils.ts
Labels: package: svelte-query

#7659 tests(svelte-query): Increase test coverage
  packages/svelte-query/tests/context/BaseExample.svelte
  packages/svelte-query/tests/context/context.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
  packages/svelte-query/tests/createMutation/createMutation.test.ts
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.test.ts
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: package: svelte-query

#7663 feat(eslint-plugin-query): Add compatibility with flat config
  docs/eslint/eslint-plugin-query.md
  examples/react/basic-graphql-request/src/index.jsx
  examples/react/basic-typescript/.eslintrc
  examples/react/basic-typescript/eslint.config.js
  examples/react/basic-typescript/src/index.tsx
  examples/react/basic-typescript/tsconfig.json
  examples/react/basic/src/index.jsx
  examples/react/default-query-function/src/index.jsx
  examples/react/simple/src/index.jsx
  package.json
  packages/eslint-plugin-query/.attw.json
  packages/eslint-plugin-query/src/__tests__/configs.test.ts
  packages/eslint-plugin-query/src/configs.ts
  packages/eslint-plugin-query/src/index.ts
  pnpm-lock.yaml
Labels: documentation, package: eslint-plugin-query

#7658 docs(react-query): correct links in `usePrefetchQuery`
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
Labels: documentation

#7674 fix: Update package.json fields
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-codemods/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#7675 ci: Add preview workflow
  .codesandbox/ci.json
  .github/workflows/preview.yml
  examples/solid/astro/package.json
  examples/solid/solid-start-streaming/package.json
  packages/query-codemods/package.json
Labels: package: query-codemods

#7682 fix(solid): Correct deps/devDeps/peerDeps
  examples/solid/astro/package.json
  integrations/angular-cli-standalone-17/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Labels: package: solid-query, package: angular-query-experimental, package: angular-query-devtools-experimental, package: solid-query-persist-client, package: solid-query-devtools

#7453 refactor(svelte-query): specify StoreOrVal options in function signature
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/types.ts
Labels: package: svelte-query

#7671 docs(react-query): correct links in the `prefetching.md` file
  docs/framework/react/guides/prefetching.md
Labels: documentation

#7608 feat(vue-query): add support for getters in query keys
  packages/vue-query/src/__tests__/useQueries.test.ts
  packages/vue-query/src/__tests__/useQuery.test.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/utils.ts
Labels: package: vue-query

#7688 Added Vue Community Project
  docs/framework/vue/community/community-projects.md
Labels: documentation

#7705 docs(eslint-plugin-query): Fix rules links
  docs/eslint/eslint-plugin-query.md
Labels: documentation

#7718 docs(query-client): fix broken hydration link
  docs/reference/QueryClient.md
Labels: documentation

#7707 fix(solid-query): export InitialDataOptions types
  packages/solid-query/src/createQuery.ts
  packages/solid-query/src/index.ts
Labels: package: solid-query

#7703 chore(docs): update comparison.md
  docs/framework/react/comparison.md
Labels: documentation

#7735 chore(*): vitest v2
  package.json
  packages/angular-query-experimental/src/__tests__/util/lazy-init/lazy-init.test.ts
  packages/angular-query-experimental/src/__tests__/util/lazy-signal-initializer/lazy-signal-initializer.test.ts
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/__tests__/utils.ts
  packages/react-query/src/__tests__/prefetch.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/utils.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createMutation.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
  packages/vue-query/src/__mocks__/useBaseQuery.ts
  packages/vue-query/src/__mocks__/useQueryClient.ts
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  pnpm-lock.yaml
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: angular-query-experimental

#7742 chore(deps): Update dev and example dependencies
  examples/react/algolia/package.json
  examples/react/basic-graphql-request/package.json
  examples/react/basic/package.json
  examples/react/default-query-function/package.json
  examples/react/offline/package.json
  examples/react/playground/package.json
  examples/react/react-router/package.json
  examples/react/rick-morty/package.json
  examples/react/shadow-dom/package.json
  examples/react/simple/package.json
  examples/react/star-wars/package.json
  examples/react/suspense/package.json
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates-typescript/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  examples/vue/basic/package.json
  examples/vue/dependent-queries/package.json
  examples/vue/persister/package.json
  examples/vue/simple/package.json
  integrations/react-vite/package.json
  integrations/solid-vite/package.json
  integrations/svelte-vite/package.json
  integrations/vue-vite/package.json
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: svelte-query, package: svelte-query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: svelte-query-persist-client, package: vue-query-devtools, package: react-query-next-experimental

#7741 test(svelte-query): Check query states
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Labels: package: svelte-query, package: svelte-query-persist-client

#7720 fix(vue-query): export `InitialQueryOptions` types
  packages/vue-query/src/index.ts
Labels: package: vue-query

#7554 Refactor(utils): Ensure consistent declaration style of utility functions and standardize parameters for the sleep method
  packages/query-core/src/__tests__/utils.ts
  packages/query-core/src/utils.ts
  packages/query-persist-client-core/src/__tests__/utils.ts
  packages/react-query/src/__tests__/utils.tsx
  packages/solid-query/src/__tests__/utils.tsx
Labels: package: react-query, package: query-core, package: solid-query, package: query-persist-client-core

#7725 Update Streaming with Server Components docs to reflect correct usage
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#7743 fix(core): do not invoke getNextPageParam or getPreviousPageParam if there is we have empty pages in the cache
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Labels: package: query-core

#7744 test(svelte-query): Simplify test logic
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/load-more-infinite-scroll/src/lib/LoadMore.svelte
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/Provider.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/FreshData/Provider.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/InitialData/Provider.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/Provider.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/Provider.svelte
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/Provider.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
  packages/svelte-query-persist-client/tests/utils.ts
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/CombineExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/utils.ts
Labels: package: svelte-query, package: svelte-query-persist-client

#7709 docs(solid-query): add optional chaining to prevent suspense bug
  docs/framework/solid/overview.md
Labels: documentation

#7748 fix(solid-query): Fix race condition issues with createQuery
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/createBaseQuery.ts
Labels: package: solid-query

#7747 fix(eslint-plugin): handle ternary expressions in queryFn for exhaustive-deps rule
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Labels: package: eslint-plugin-query

#7643 docs(query-core): add matchQuery and matchMutation utils documentation
  docs/framework/react/guides/filters.md
Labels: documentation

#7751 docs(svelte-query): Auto-generate reference docs
  docs/config.json
  docs/framework/svelte/reference/createbasemutationresult.md
  docs/framework/svelte/reference/createbasequeryoptions.md
  docs/framework/svelte/reference/createbasequeryresult.md
  docs/framework/svelte/reference/createinfinitequery.md
  docs/framework/svelte/reference/createinfinitequeryoptions.md
  docs/framework/svelte/reference/createinfinitequeryresult.md
  docs/framework/svelte/reference/createmutateasyncfunction.md
  docs/framework/svelte/reference/createmutatefunction.md
  docs/framework/svelte/reference/createmutation.md
  docs/framework/svelte/reference/createmutationoptions.md
  docs/framework/svelte/reference/createmutationresult.md
  docs/framework/svelte/reference/createqueries.md
  docs/framework/svelte/reference/createquery.md
  docs/framework/svelte/reference/createqueryoptions.md
  docs/framework/svelte/reference/createqueryresult.md
  docs/framework/svelte/reference/definedcreatebasequeryresult.md
  docs/framework/svelte/reference/definedcreatequeryresult.md
  docs/framework/svelte/reference/definedinitialdataoptions.md
  docs/framework/svelte/reference/getisrestoringcontext.md
  docs/framework/svelte/reference/getqueryclientcontext.md
  docs/framework/svelte/reference/hydrationboundary.md
  docs/framework/svelte/reference/index.md
  docs/framework/svelte/reference/infinitequeryoptions.md
  docs/framework/svelte/reference/mutationstateoptions.md
  docs/framework/svelte/reference/queriesoptions.md
  docs/framework/svelte/reference/queriesresults.md
  docs/framework/svelte/reference/queryoptions.md
  docs/framework/svelte/reference/setisrestoringcontext.md
  docs/framework/svelte/reference/setqueryclientcontext.md
  docs/framework/svelte/reference/storeorval.md
  docs/framework/svelte/reference/undefinedinitialdataoptions.md
  docs/framework/svelte/reference/usehydrate.md
  docs/framework/svelte/reference/useisfetching.md
  docs/framework/svelte/reference/useismutating.md
  docs/framework/svelte/reference/useisrestoring.md
  docs/framework/svelte/reference/usemutationstate.md
  docs/framework/svelte/reference/usequeryclient.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/reference-docs.js
  scripts/typedoc-remove-prefix.js
Labels: documentation

#7753 docs(typedoc): Add frontmatter
  docs/framework/svelte/reference/createbasemutationresult.md
  docs/framework/svelte/reference/createbasequeryoptions.md
  docs/framework/svelte/reference/createbasequeryresult.md
  docs/framework/svelte/reference/createinfinitequery.md
  docs/framework/svelte/reference/createinfinitequeryoptions.md
  docs/framework/svelte/reference/createinfinitequeryresult.md
  docs/framework/svelte/reference/createmutateasyncfunction.md
  docs/framework/svelte/reference/createmutatefunction.md
  docs/framework/svelte/reference/createmutation.md
  docs/framework/svelte/reference/createmutationoptions.md
  docs/framework/svelte/reference/createmutationresult.md
  docs/framework/svelte/reference/createqueries.md
  docs/framework/svelte/reference/createquery.md
  docs/framework/svelte/reference/createqueryoptions.md
  docs/framework/svelte/reference/createqueryresult.md
  docs/framework/svelte/reference/definedcreatebasequeryresult.md
  docs/framework/svelte/reference/definedcreatequeryresult.md
  docs/framework/svelte/reference/definedinitialdataoptions.md
  docs/framework/svelte/reference/getisrestoringcontext.md
  docs/framework/svelte/reference/getqueryclientcontext.md
  docs/framework/svelte/reference/hydrationboundary.md
  docs/framework/svelte/reference/index.md
  docs/framework/svelte/reference/infinitequeryoptions.md
  docs/framework/svelte/reference/mutationstateoptions.md
  docs/framework/svelte/reference/queriesoptions.md
  docs/framework/svelte/reference/queriesresults.md
  docs/framework/svelte/reference/queryoptions.md
  docs/framework/svelte/reference/setisrestoringcontext.md
  docs/framework/svelte/reference/setqueryclientcontext.md
  docs/framework/svelte/reference/storeorval.md
  docs/framework/svelte/reference/undefinedinitialdataoptions.md
  docs/framework/svelte/reference/usehydrate.md
  docs/framework/svelte/reference/useisfetching.md
  docs/framework/svelte/reference/useismutating.md
  docs/framework/svelte/reference/useisrestoring.md
  docs/framework/svelte/reference/usemutationstate.md
  docs/framework/svelte/reference/usequeryclient.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/reference-docs.js
  scripts/typedoc-remove-prefix.js
Labels: documentation

#7441 fix(query-core): allow function value of `notifyOnChangeProps` query option to return `undefined`
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/types.ts
Labels: documentation, package: query-core

#7759 Update paginated-queries.md
  docs/framework/react/guides/paginated-queries.md
Labels: documentation

#7762 docs: update the syntax highlighting for angular
  docs/framework/angular/devtools.md
  docs/framework/angular/guides/background-fetching-indicators.md
  docs/framework/angular/guides/disabling-queries.md
  docs/framework/angular/guides/infinite-queries.md
  docs/framework/angular/guides/mutations.md
  docs/framework/angular/guides/optimistic-updates.md
  docs/framework/angular/guides/paginated-queries.md
  docs/framework/angular/guides/queries.md
  docs/framework/angular/guides/query-cancellation.md
  docs/framework/angular/overview.md
  docs/framework/angular/quick-start.md
Labels: documentation

#7769 fix(svelte-query): Correct data type when `initialData` is set
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
Labels: package: react-query, package: svelte-query

#7766 fix(eslint-plugin): type config names
  packages/eslint-plugin-query/src/index.ts
Labels: package: eslint-plugin-query

#7773 test(svelte-query): Better createMutation tests
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
  packages/svelte-query/tests/createMutation/BaseExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Labels: package: svelte-query

#7780 fix(eslint-plugin): strictly type config keys
  packages/eslint-plugin-query/src/index.ts
Labels: package: eslint-plugin-query

#7794 chore(svelte-query): Tweak provider tests
  .github/workflows/pr.yml
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
Labels: package: svelte-query-persist-client

#7795 chore: Update `@tanstack/config` to v0.11.0
  eslint.config.js
  examples/react/offline/public/mockServiceWorker.js
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  package.json
  packages/angular-query-experimental/src/util/create-injection-token/create-injection-token.ts
  packages/eslint-plugin-query/src/utils/ast-utils.ts
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/focusManager.ts
  packages/query-core/src/hydration.ts
  packages/query-core/src/onlineManager.ts
  packages/react-query/eslint.config.js
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/vue-query/src/useBaseQuery.ts
  pnpm-lock.yaml
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: eslint-plugin-query, package: angular-query-experimental, package: query-codemods

#7797 refactor: add error message for skipToken in useSuspenseQueries and useSuspenseInfiniteQuery
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
Labels: package: react-query

#7799 fix(query-core): abort fetch loop for infinite queries if getNextPageParam returns null or undefined
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
Labels: package: query-core

#7793 fix(query-core) export Mutation class instead of exporting it as a type
  packages/query-core/src/index.ts
Labels: package: query-core

#7801 docs(examples): Fix small errors in svelte examples
  docs/config.json
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/basic/src/lib/data.ts
  examples/svelte/load-more-infinite-scroll/src/app.css
  examples/svelte/load-more-infinite-scroll/src/routes/+page.svelte
  examples/svelte/optimistic-updates/.gitignore
  examples/svelte/optimistic-updates/README.md
  examples/svelte/optimistic-updates/package.json
  examples/svelte/optimistic-updates/src/app.css
  examples/svelte/optimistic-updates/src/app.d.ts
  examples/svelte/optimistic-updates/src/app.html
  examples/svelte/optimistic-updates/src/routes/+layout.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
  examples/svelte/optimistic-updates/static/favicon.png
  examples/svelte/optimistic-updates/svelte.config.js
  examples/svelte/optimistic-updates/tsconfig.json
  examples/svelte/optimistic-updates/vite.config.ts
  examples/svelte/simple/src/lib/Simple.svelte
  examples/svelte/simple/src/main.ts
  examples/svelte/ssr/src/lib/api.ts
  pnpm-lock.yaml
Labels: documentation

#7804 feat(svelte-5-adapter): require options to be passed as function
  examples/svelte/basic/src/lib/Post.svelte
  examples/svelte/basic/src/lib/Posts.svelte
  examples/svelte/load-more-infinite-scroll/src/lib/LoadMore.svelte
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/playground/src/routes/AddTodo.svelte
  examples/svelte/playground/src/routes/EditTodo.svelte
  examples/svelte/simple/src/lib/Simple.svelte
  examples/svelte/ssr/src/lib/Post.svelte
  examples/svelte/ssr/src/lib/Posts.svelte
  examples/svelte/star-wars/src/routes/characters/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Film.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Homeworld.svelte
  examples/svelte/star-wars/src/routes/films/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/Character.svelte
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createQueries.svelte.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/types.ts
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/CombineExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/createQuery/createQuery.svelte.test.ts
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  pnpm-lock.yaml
Labels: package: svelte-query, package: svelte-query-persist-client

#7770 docs(solid-query): fix quick-start example
  docs/framework/solid/quick-start.md
Labels: documentation

#7808 refactor(svelte-5-adapter): simplify createBaseQuery
  packages/svelte-query/src/createBaseQuery.svelte.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
Labels: package: svelte-query

#7810 test(svelte-query): add refetch test for createQuery
  packages/svelte-query/tests/createQuery/RefetchExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Labels: package: svelte-query

#7816 chore(deps): use prettier v3.3.3
  .github/renovate.json
  examples/angular/basic/src/app/components/posts.component.html
  examples/angular/router/src/app/components/posts.component.html
  package.json
  packages/query-core/src/query.ts
  packages/vue-query/src/types.ts
  pnpm-lock.yaml
Labels: package: vue-query, package: query-core

#7825 fix(svelte-query): ensure compatibility with NodeNext
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tests/AwaitOnSuccess/AwaitOnSuccess.svelte
  packages/svelte-query-persist-client/tests/FreshData/FreshData.svelte
  packages/svelte-query-persist-client/tests/FreshData/Provider.svelte
  packages/svelte-query-persist-client/tests/InitialData/InitialData.svelte
  packages/svelte-query-persist-client/tests/InitialData/Provider.svelte
  packages/svelte-query-persist-client/tests/OnSuccess/OnSuccess.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/RemoveCache.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/Provider.svelte
  packages/svelte-query-persist-client/tests/RestoreCache/RestoreCache.svelte
  packages/svelte-query-persist-client/tests/UseQueries/Provider.svelte
  packages/svelte-query-persist-client/tests/UseQueries/UseQueries.svelte
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/src/HydrationBoundary.svelte
  packages/svelte-query/src/QueryClientProvider.svelte
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createInfiniteQuery.ts
  packages/svelte-query/src/createMutation.ts
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/src/createQuery.ts
  packages/svelte-query/src/index.ts
  packages/svelte-query/src/infiniteQueryOptions.ts
  packages/svelte-query/src/queryOptions.ts
  packages/svelte-query/src/useHydrate.ts
  packages/svelte-query/src/useIsFetching.ts
  packages/svelte-query/src/useIsMutating.ts
  packages/svelte-query/src/useIsRestoring.ts
  packages/svelte-query/src/useMutationState.ts
  packages/svelte-query/src/useQueryClient.ts
  packages/svelte-query/src/utils.ts
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/QueryClientProvider/ParentComponent.svelte
  packages/svelte-query/tests/context/BaseExample.svelte
  packages/svelte-query/tests/context/context.test.ts
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/OnSuccessExample.svelte
  packages/svelte-query/tests/createMutation/ResetExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
  packages/svelte-query/tests/createQueries/BaseExample.svelte
  packages/svelte-query/tests/createQueries/CombineExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/svelte-query/tests/createQueries/createQueries.test.ts
  packages/svelte-query/tests/createQuery/BaseExample.svelte
  packages/svelte-query/tests/createQuery/DisabledExample.svelte
  packages/svelte-query/tests/createQuery/PlaceholderData.svelte
  packages/svelte-query/tests/createQuery/RefetchExample.svelte
  packages/svelte-query/tests/createQuery/createQuery.test-d.ts
  packages/svelte-query/tests/createQuery/createQuery.test.ts
  packages/svelte-query/tests/infiniteQueryOptions/infiniteQueryOptions.test-d.ts
  packages/svelte-query/tests/queryOptions/queryOptions.test-d.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tsconfig.json
Labels: package: svelte-query, package: svelte-query-devtools, package: svelte-query-persist-client
