Repository TanStack/query, pull requests merged in 2025-05, with the labels that each got.

#8989 refactor(query-core): remove unused common type
  packages/query-core/src/types.ts
Labels: package: query-core

#9092 feat: refetchMode replace for streamedQuery
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Labels: documentation, package: query-core

#9094 test(react-query): use fake timers for useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: package: react-query

#9086 test(react-query): use fake timers for useQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query

#9088 fix(vue-query): move `queryOptions` and `useQuery` function overloads
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/queryOptions.ts
  packages/vue-query/src/useQuery.ts
Labels: package: vue-query

#9017 Issue #7487 fix: (query-broadcast-client-experimental) - removing query from one tab doesn't remove it from all tabs
  packages/query-broadcast-client-experimental/package.json
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-broadcast-client-experimental/src/index.ts
  packages/query-broadcast-client-experimental/test-setup.ts
  packages/query-broadcast-client-experimental/vite.config.ts
  pnpm-lock.yaml
Labels: package: query-broadcast-client-experimental

#8717 chore(react-query): isRestoring -> IsRestoreProvider like QueryClientProvider
  packages/react-query/src/IsRestoringProvider.ts
  packages/react-query/src/index.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Labels: package: react-query

#9103 chore: nextJs versions
  examples/react/auto-refetching/package.json
  examples/react/infinite-query-with-max-pages/package.json
  examples/react/load-more-infinite-scroll/package.json
  examples/react/nextjs-app-prefetching/package.json
  examples/react/nextjs-suspense-streaming/package.json
  examples/react/nextjs/package.json
  examples/react/optimistic-updates-cache/package.json
  examples/react/optimistic-updates-ui/package.json
  examples/react/pagination/package.json
  examples/react/prefetching/package.json
  integrations/react-next-14/package.json
  integrations/react-next-15/package.json
  packages/react-query-next-experimental/package.json
  pnpm-lock.yaml
Labels: package: react-query-next-experimental

#9107 refactor(angular-query): use factory for IS_RESTORING injection token default value
  packages/angular-query-experimental/src/inject-is-restoring.ts
  packages/angular-query-persist-client/src/with-persist-query-client.ts
Labels: package: angular-query-experimental

#9105 fix(types): useSuspenseQuery should type-narrow the Error field
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/types.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
Labels: package: react-query, package: vue-query, package: query-core

#9108 docs: Clarify that `useQuery` results are immutable
  docs/framework/vue/reactivity.md
Labels: documentation

#9104 ci(*): init ESLint configurations to include 'vitest/expect-expect' rule as error across multiple packages gradually
  eslint.config.js
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/eslint-plugin-query/eslint.config.js
  packages/query-async-storage-persister/eslint.config.js
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-codemods/eslint.config.js
  packages/query-core/eslint.config.js
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-persist-client-core/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
  packages/vue-query/src/__tests__/useQuery.test-d.ts
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: angular-query-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#9109 ci(angular-query, query-core): update vitest/expect-expect rule as error
  packages/angular-query-devtools-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/mutation-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/providers.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/signal-proxy.test.ts
  packages/angular-query-experimental/src/__tests__/test-utils.ts
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/query-async-storage-persister/eslint.config.js
  packages/query-broadcast-client-experimental/eslint.config.js
  packages/query-codemods/eslint.config.js
  packages/query-core/eslint.config.js
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-persist-client-core/eslint.config.js
  packages/query-sync-storage-persister/eslint.config.js
Labels: package: query-core, package: query-persist-client-core, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: query-broadcast-client-experimental

#9110 ci(react-query): update vitest/expect-expect rule as error
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-persist-client/eslint.config.js
  packages/react-query/eslint.config.js
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/react-query/src/__tests__/queryOptions.test-d.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useIsFetching.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#9111 ci(*): update vitest/expect-expect rule as error
  packages/solid-query-devtools/eslint.config.js
  packages/solid-query-persist-client/eslint.config.js
  packages/solid-query/eslint.config.js
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query-devtools/eslint.config.js
  packages/svelte-query-persist-client/eslint.config.js
  packages/svelte-query/eslint.config.js
  packages/vue-query-devtools/eslint.config.js
  packages/vue-query/eslint.config.js
  packages/vue-query/src/__tests__/infiniteQueryOptions.test-d.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/__tests__/queryOptions.test-d.ts
Labels: package: vue-query, package: solid-query, package: svelte-query, package: svelte-query-devtools, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools

#9101 test(query-core): add test case for infiniteQueryBehavior
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Labels: package: query-core

#8683 fix(react-query): fix to show type error on wrong type annotation in `useQuery`
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/useQuery.ts
Labels: package: react-query

#9114 test(react-query): improve branch coverage for useSuspenseInfiniteQuery skipToken error handling
  packages/react-query/src/__tests__/useSuspenseInfiniteQuery.test.tsx
Labels: package: react-query

#9113 test(react-query): improve branch coverage for useSuspenseQueries skipToken error handling
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query

#9112 test(react-query): improve branch coverage for useSuspenseQuery skipToken error handling
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#9116 chore: add typescript-eslint/require-await rule
  eslint.config.js
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test-d.ts
  packages/query-broadcast-client-experimental/src/__tests__/index.test.ts
  packages/query-codemods/eslint.config.js
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query, package: query-core, package: angular-query-experimental, package: query-codemods, package: query-broadcast-client-experimental

#9128 feature(angular-query): support providing QueryClient via InjectionToken
  packages/angular-query-experimental/src/__tests__/provide-query-client.test.ts
  packages/angular-query-experimental/src/__tests__/provide-tanstack-query.test.ts
  packages/angular-query-experimental/src/providers.ts
Labels: package: angular-query-experimental

#9130 refactor: integration should throw error
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/util/index.ts
  packages/query-core/src/__tests__/utils.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/errorBoundaryUtils.ts
  packages/react-query/src/useMutation.ts
  packages/react-query/src/utils.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/utils.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/utils.ts
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: angular-query-experimental

#9120 Update comparison.md: mark RTK Query as supporting infinite queries
  docs/framework/react/comparison.md
Labels: documentation

#9134 fix(angular-query): allow providing on element injectors
  packages/angular-query-experimental/src/providers.ts
Labels: package: angular-query-experimental

#9142 test(react-query): initialise `queryClient` in `beforeEach`
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query

#8846 🏝️ TanStack Query DevTools for Expo/React Native! 🚀
  docs/framework/react/devtools.md
  docs/framework/react/react-native.md
  packages/query-devtools/src/Devtools.tsx
Labels: documentation, package: query-devtools

#8062 fix(experimental_createQueryPersister): return more utilities, rename persister
  docs/framework/react/plugins/createPersister.md
  docs/framework/vue/plugins/createPersister.md
  examples/vue/persister/src/Post.vue
  examples/vue/persister/src/Posts.vue
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/createPersister.ts
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Labels: documentation, package: react-query, package: query-persist-client-core

#9146 test(query-core): add test case for queryObserver
  packages/query-core/src/__tests__/queryObserver.test.tsx
Labels: package: query-core

#9152 docs(react-query): Small rephrase of adavnced-ssr.md (react)
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#9172 docs: update infinite query fetchNextPage examples
  docs/framework/react/guides/infinite-queries.md
Labels: documentation

#9157 Fix misc hydration bugs
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  packages/query-core/src/thenable.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Labels: package: react-query, package: query-core

#9178 chore: remove baseUrl from tsConfig, as it's deprecated
  knip.json
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/src/__test__/queryKey.test.ts
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#9145 test(query-core): add test case for query
  packages/query-core/src/__tests__/query.test.tsx
Labels: package: query-core

#9184 feat(streamedQuery): maxChunks
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Labels: documentation, package: query-core

#9188 New fix for hydration loop bug
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Labels: package: react-query, package: query-core

#9187 refactor(*): centralize NonUndefinedGuard type definition
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/query-core/src/types.ts
  packages/react-query/src/infiniteQueryOptions.ts
  packages/react-query/src/queryOptions.ts
  packages/solid-query/src/infiniteQueryOptions.ts
  packages/svelte-query/src/queryOptions.ts
  packages/vue-query/src/infiniteQueryOptions.ts
  packages/vue-query/src/useQuery.ts
Labels: package: react-query, package: vue-query, package: query-core, package: solid-query, package: svelte-query, package: angular-query-experimental

#9071 chore: update to eslint-plugin-react-hooks v6
  .github/renovate.json
  examples/react/algolia/eslint.config.js
  examples/react/basic-graphql-request/eslint.config.js
  examples/react/basic/eslint.config.js
  examples/react/shadow-dom/eslint.config.js
  package.json
  packages/react-query-devtools/eslint.config.js
  packages/react-query-next-experimental/eslint.config.js
  packages/react-query-next-experimental/src/HydrationStreamProvider.tsx
  packages/react-query-persist-client/eslint.config.js
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/react-query/eslint.config.js
  packages/react-query/package.json
  packages/react-query/src/HydrationBoundary.tsx
  packages/react-query/src/useMutationState.ts
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: react-query-next-experimental

#9139 feat(core): staleTime: 'static'
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/reference/useQuery.md
  docs/reference/QueryClient.md
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/react-query/src/suspense.ts
Labels: documentation, package: react-query, package: query-core
