Repository TanStack/query, pull requests merged in 2025-03, with the labels that each got.

#8720 test(query-core): add test case for queryClient.isFetching
  packages/query-core/src/__tests__/queryClient.test.tsx
Labels: package: query-core

#8735 test(query-core): add hashKey test code
  packages/query-core/src/__tests__/utils.test.tsx
Labels: package: query-core

#8669 refactor(query-core): improve type safety and performance in `getMutationDefaults`
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#8758 fix(docs): update links to ESLint rules
  docs/eslint/eslint-plugin-query.md
Labels: documentation

#8762 fix(docs): fix Advanced Server Rendering guide link
  docs/framework/react/guides/ssr.md
Labels: documentation

#8748 docs(react-query): fix broken links in QueryClient docs
  docs/reference/QueryClient.md
Labels: documentation

#8765 docs: fix relative links in Advanced Server Rendering guide
  docs/framework/react/guides/advanced-ssr.md
Labels: documentation

#8359 fix(svelte-query): update peer deps to stable v5 version
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
Labels: package: svelte-query, package: svelte-query-devtools, package: svelte-query-persist-client

#8149 docs(svelte-query): add the devtools page to the svelte-query docs
  docs/config.json
  docs/framework/svelte/devtools.md
Labels: documentation

#8770 Fix broken links in SSR documentation
  docs/framework/react/guides/ssr.md
Labels: documentation

#8769 Fix 404 link for Query Keys in useQuery.md
  docs/framework/react/reference/useQuery.md
Labels: documentation

#8697 Fix community resource links in important Defaults page.
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/guides/initial-query-data.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/placeholder-query-data.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/queries.md
  docs/framework/react/guides/query-keys.md
  docs/framework/react/guides/render-optimizations.md
  docs/framework/react/guides/testing.md
Labels: documentation

#8729 test(react-query): add test case for useQuery
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query

#8726 test(query-core): add test case for queryClient.isMutating
  packages/query-core/src/__tests__/queryClient.test.tsx
Labels: package: query-core

#8727 test(query-core): use fake timers for query.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
Labels: package: query-core

#8699 docs(react-query): fix incorrect link in documentation
  docs/framework/react/reference/infiniteQueryOptions.md
  docs/framework/react/reference/queryOptions.md
  docs/framework/react/reference/useInfiniteQuery.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  docs/framework/react/reference/useQueries.md
  docs/framework/react/reference/useQuery.md
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Labels: documentation

#8773 test(query-core): use fake timer for notifyManager.test.tsx
  packages/query-core/src/__tests__/notifyManager.test.tsx
Labels: package: query-core

#8783 refactor: restore missing readonly
  packages/react-query/src/useSuspenseQueries.ts
Labels: package: react-query

#8779 test(query-core): use fake timers for queryCache.test.tsx
  packages/query-core/src/__tests__/queryCache.test.tsx
Labels: package: query-core

#8775 test(query-core): use fake timers for infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
Labels: package: query-core

#8736 test(query-core): add hashQueryKeyByOptions test code
  packages/query-core/src/__tests__/utils.test.tsx
Labels: package: query-core

#8784 refactor: Remove unnecessary async keywords
  packages/query-core/src/__tests__/focusManager.test.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/__tests__/infiniteQueryObserver.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/__tests__/notifyManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/__tests__/queryObserver.test.tsx
Labels: package: query-core

#8792 Fix broken links on ssr.md
  docs/framework/react/guides/ssr.md
Labels: documentation

#8800 docs: Fix broken links in query-options.md
  docs/framework/react/guides/query-options.md
Labels: documentation

#8802 feat(eslint-plugin-query): enhance no-rest-destructuring rule to detect spread operations
  packages/eslint-plugin-query/src/__tests__/no-rest-destructuring.test.ts
  packages/eslint-plugin-query/src/rules/no-rest-destructuring/no-rest-destructuring.rule.ts
Labels: package: eslint-plugin-query

#8817 fix(angular-query): do not run callbacks in injection context
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/providers.ts
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8805 test(query-core): use fake timers for mutationObserver.test.tsx
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Labels: package: query-core

#8806 test(query-core): use fake timers for mutations.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
Labels: package: query-core

#8807 test(query-core): use fake timers for mutationCache.test.tsx
  packages/query-core/src/__tests__/mutationCache.test.tsx
Labels: package: query-core

#8809 test(query-core): use fake timers for focusManager.test.tsx
  packages/query-core/src/__tests__/focusManager.test.tsx
Labels: package: query-core

#8814 feat(core): streamedQuery
  docs/config.json
  docs/reference/QueryObserver.md
  docs/reference/streamedQuery.md
  examples/react/chat/.eslintrc
  examples/react/chat/.gitignore
  examples/react/chat/README.md
  examples/react/chat/index.html
  examples/react/chat/package.json
  examples/react/chat/public/emblem-light.svg
  examples/react/chat/src/chat.ts
  examples/react/chat/src/index.tsx
  examples/react/chat/src/message.tsx
  examples/react/chat/src/style.css
  examples/react/chat/tsconfig.json
  examples/react/chat/vite.config.ts
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/index.ts
  packages/query-core/src/streamedQuery.ts
  pnpm-lock.yaml
Labels: documentation, package: query-core

#8842 fix(angular-query): forward queryFn errors to the NgZone
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-mutation.ts
Labels: package: angular-query-experimental

#8847 fix(examples, docs): ignored promise from invalidate queries
  docs/framework/react/guides/optimistic-updates.md
  examples/react/optimistic-updates-cache/src/pages/index.tsx
Labels: documentation

#8771 fix(core): make sure that calling setOptions will always notifyListeners
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/query-core/src/infiniteQueryObserver.ts
  packages/query-core/src/queriesObserver.ts
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
  packages/solid-query/src/createQueries.ts
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query/src/createBaseQuery.ts
  packages/svelte-query/src/createQueries.ts
Labels: package: react-query, package: query-core, package: solid-query, package: svelte-query, package: angular-query-experimental, package: svelte-query-persist-client

#8778 fix(react-query-persist-client): remove unnecessary props spreading
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Labels: package: react-query-persist-client

#8774 test(react-query): use fake timer for HydrationBoundary.test.tsx
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Labels: package: react-query

#8872 feat: export defaultScheduleFn
  packages/query-core/src/index.ts
  packages/query-core/src/notifyManager.ts
Labels: package: query-core

#8862 docs(queryClient): JSDoc hint for queryClient.getQueryData
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#8875 test(query-core): fix mutationFn to use Promise.resolve to match TypeScript requirements
  packages/query-core/src/__tests__/hydration.test.tsx
Labels: package: query-core

#8878 feat(eslint-plugin): no void `queryFn`
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-void-query-fn.md
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/file.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/tsconfig.json
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Labels: documentation, package: eslint-plugin-query

#8880 Revert "feat(eslint-plugin): no void `queryFn`"
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-void-query-fn.md
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/file.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/tsconfig.json
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
Labels: documentation, package: eslint-plugin-query

#8879 docs(react-community): fixed typescript typo
  docs/framework/react/community/community-projects.md
Labels: documentation

#8890 test(react-query): use fake timers for useQuery.promise.test.tsx
  packages/react-query/src/__tests__/useQuery.promise.test.tsx
Labels: package: react-query

#8885 test(react-query): fix async to promise to match TypeScript requirements in ssr.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
Labels: package: react-query

#8886 test(react-query): fix async to promise and remove unnecessary await to match TypeScript requirements in useMutation.test.tsx
  packages/react-query/src/__tests__/useMutation.test.tsx
Labels: package: react-query

#8887 test(react-query): fix async to promise and remove unnecessary await to match TypeScript requirements in useQueries.test.tsx
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: package: react-query

#8888 test(react-query): fix async to promise and remove unnecessary await to match TypeScript requirements in useQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query

#8889 test(react-query): fix async to promise to match TypeScript requirements in useSuspenseQueries.test.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query

#8877 Fix: Prevent redundant function call error
  packages/query-core/src/utils.ts
Labels: package: query-core

#8881 docs(react-guides): fixed cancelMutations typo
  docs/framework/react/guides/migrating-to-react-query-4.md
Labels: documentation

#8882 docs(react-guides): fixed cancellation typo
  docs/framework/react/guides/query-cancellation.md
Labels: documentation
