Repository TanStack/query, pull requests merged in 2025-02, with the labels that each got.

#8601 docs(angular-query): improve queryOptions code snippets
  docs/framework/angular/guides/query-options.md
Labels: documentation

#8585 fix(eslint-plugin-query): update FlatConfig to Config due to deprecation
  packages/eslint-plugin-query/src/index.ts
Labels: package: eslint-plugin-query

#8584 fix(eslint-plugin-query): add name attribute for eslint config inspector
  packages/eslint-plugin-query/src/index.ts
Labels: package: eslint-plugin-query

#8634 docs(react-native): partial revert online manager usage
  docs/framework/react/react-native.md
Labels: documentation

#8637 docs(react-native): fix typo
  docs/framework/react/react-native.md
Labels: documentation

#8652 chore(angular-query): zoneless testing
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-devtools-experimental/src/__tests__/inject-devtools-panel.test.ts
  packages/angular-query-devtools-experimental/src/test-setup.ts
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/providers.test.ts
  packages/angular-query-experimental/src/test-setup.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.test.ts
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8653 fix(deps): Add react-native field to package.json for Metro resolutions
  packages/query-async-storage-persister/package.json
  packages/query-core/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-persist-client/package.json
Labels: package: react-query-persist-client, package: query-core, package: query-persist-client-core, package: query-async-storage-persister, package: query-sync-storage-persister

#8641 [FIX]: useQueries have quadratic performance in relation to the number of queries
  packages/query-core/src/queriesObserver.ts
Labels: package: query-core

#8581 better document `throwOnError`'s default
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useQuery.md
  docs/framework/solid/reference/createQuery.md
Labels: documentation

#8383 fix: no hydration when new promise comes in
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/reference/hydration.md
  integrations/react-next-15/app/_action.ts
  integrations/react-next-15/app/client-component.tsx
  integrations/react-next-15/app/count/route.ts
  integrations/react-next-15/app/make-query-client.ts
  integrations/react-next-15/app/page.tsx
  integrations/react-next-15/app/providers.tsx
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/query-core/src/hydration.ts
  packages/react-query/src/HydrationBoundary.tsx
Labels: documentation, package: react-query, package: query-core

#8661 refactor(react-query): Simplify `useQueries`
  packages/react-query/src/useQueries.ts
Labels: package: react-query

#8439 feat: Add Optimistic Updates Example for Angular
  docs/config.json
  examples/angular/optimistic-updates/.devcontainer/devcontainer.json
  examples/angular/optimistic-updates/.eslintrc.cjs
  examples/angular/optimistic-updates/README.md
  examples/angular/optimistic-updates/angular.json
  examples/angular/optimistic-updates/package.json
  examples/angular/optimistic-updates/src/app/app.component.ts
  examples/angular/optimistic-updates/src/app/app.config.ts
  examples/angular/optimistic-updates/src/app/components/optimistic-updates.component.ts
  examples/angular/optimistic-updates/src/app/interceptor/mock-api.interceptor.ts
  examples/angular/optimistic-updates/src/app/services/tasks.service.ts
  examples/angular/optimistic-updates/src/favicon.ico
  examples/angular/optimistic-updates/src/index.html
  examples/angular/optimistic-updates/src/main.ts
  examples/angular/optimistic-updates/tsconfig.app.json
  examples/angular/optimistic-updates/tsconfig.json
  pnpm-lock.yaml
Labels: documentation

#8674 fix(react-query): fix inferring data as | undefined when using initialData without queryFn
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/queryOptions.ts
Labels: package: react-query

#8624 fix(react-query): prevent type errors and improve inference for dynamic queries on useQueries and useSuspenseQueries
  packages/angular-query-experimental/src/inject-queries.ts
  packages/react-query/src/__tests__/useQueries.test-d.tsx
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useQueries.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/createQueries.ts
  packages/svelte-query/src/createQueries.ts
  packages/svelte-query/tests/createQueries/createQueries.test-d.ts
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/useQueries.ts
Labels: package: react-query, package: vue-query, package: solid-query, package: svelte-query, package: angular-query-experimental, package: solid-query-persist-client, package: solid-query-devtools

#8170 Add docs page for vue reactivity
  docs/config.json
  docs/framework/vue/reactivity.md
Labels: documentation

#8693 Docs: Fix links in `framework/react/guides/caching`
  docs/framework/react/guides/caching.md
Labels: documentation

#8709 fix(react-query): fix type breaking when using useSuspenseQueries with spreaded queryOptions
  packages/react-query/src/__tests__/useSuspenseQueries.test-d.tsx
  packages/react-query/src/useSuspenseQueries.ts
Labels: package: react-query

#8719 test(query-core): add test case for keepPreviousData
  packages/query-core/src/__tests__/utils.test.tsx
Labels: package: query-core

#8701 chore(react-query): add warning when useBaseQuery is called without a queryFn
  packages/react-query/src/useBaseQuery.ts
Labels: package: react-query
