Repository TanStack/query, pull requests merged in 2025-09, with the labels that each got.

#9560 docs: clarify queryClient refetch behavior for stale queries
  docs/framework/react/react-native.md
Labels: documentation

#9607 refactor(react-query): replace magic number with named constant in suspense timers
  packages/react-query/src/suspense.ts
Labels: package: react-query

#9547 chore(tsconfig.json): simplify 'include' patterns by consolidating file extensions and directory paths
  packages/angular-query-devtools-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/eslint-plugin-query/tsconfig.json
  packages/query-async-storage-persister/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/query-codemods/tsconfig.json
  packages/query-core/tsconfig.json
  packages/query-devtools/tsconfig.json
  packages/query-persist-client-core/tsconfig.json
  packages/query-sync-storage-persister/tsconfig.json
  packages/query-test-utils/tsconfig.json
  packages/react-query-devtools/tsconfig.json
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-persist-client/tsconfig.json
  packages/react-query/tsconfig.json
  packages/solid-query-devtools/tsconfig.json
  packages/solid-query-persist-client/tsconfig.json
  packages/solid-query/tsconfig.json
  packages/svelte-query-devtools/tsconfig.json
  packages/svelte-query-persist-client/tsconfig.json
  packages/svelte-query/tsconfig.json
  packages/vue-query-devtools/tsconfig.json
  packages/vue-query/tsconfig.json
  tsconfig.json
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-codemods, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental, package: angular-query-persist-client, package: query-test-utils

#9532 feat(query-core): add custom reducer support to streamedQuery
  docs/reference/streamedQuery.md
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Labels: documentation, package: query-core

#9606 ref: rename queryFn to streamFn in streamedQuery
  docs/reference/streamedQuery.md
  examples/react/chat/src/chat.ts
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/streamedQuery.ts
Labels: documentation, package: query-core

#9616 docs(angular-query): update Angular Zoneless doc
  docs/framework/angular/angular-httpclient-and-other-data-fetching-clients.md
  docs/framework/angular/zoneless.md
Labels: documentation

#9621 fix(solid-query-devtools): fix typing issue
  packages/solid-query-devtools/src/devtoolsPanel.tsx
Labels: package: solid-query-devtools

#9625 fix(query-devtools): add code element style to prevent devtools panel oscillating
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#9639 fix(query-core, react-query): infinite re-renders in useQueries
  packages/query-core/src/queriesObserver.ts
  packages/react-query/src/__tests__/useQueries.test.tsx
Labels: package: react-query, package: query-core

#9655 refactor(angular-query): move injectQueries to sub-path export
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/inject-queries-experimental/index.ts
  packages/angular-query-experimental/vite.config.ts
Labels: package: angular-query-experimental

#8690 [WIP] Angular injectQueries fixes
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-queries.test-d.ts
  packages/angular-query-experimental/src/__tests__/inject-queries.test.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-persist-client/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-persist-client

#9666 feat(angular-query): integrate with Angular v19+ PendingTasks for whenStable() support
  docs/framework/angular/zoneless.md
  eslint.config.js
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/__tests__/pending-tasks.test.ts
  packages/angular-query-experimental/src/create-base-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/pending-tasks-compat.ts
  pnpm-lock.yaml
Labels: documentation, package: angular-query-experimental

#9669 docs(angular-query): add testing guide
  docs/config.json
  docs/framework/angular/guides/testing.md
Labels: documentation

#9634 fix(vue-query): Support infiniteQueryOptions for MaybeRef argument
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useInfiniteQuery.ts
Labels: package: vue-query

#9692 chore: update svelte examples and tests from runes PR
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/svelte/reactivity.md
  docs/framework/vue/devtools.md
  examples/svelte/auto-refetching/src/routes/+page.svelte
  examples/svelte/auto-refetching/svelte.config.js
  examples/svelte/basic/svelte.config.js
  examples/svelte/optimistic-updates/src/routes/+page.svelte
  examples/svelte/optimistic-updates/src/routes/api/data/+server.ts
  examples/svelte/optimistic-updates/svelte.config.js
  examples/svelte/playground/svelte.config.js
  examples/svelte/simple/svelte.config.js
  examples/svelte/ssr/src/routes/+layout.ts
  examples/svelte/ssr/svelte.config.js
  examples/svelte/star-wars/src/routes/+page.svelte
  examples/svelte/star-wars/svelte.config.js
  packages/svelte-query/tests/createMutation/FailureExample.svelte
  packages/svelte-query/tests/createMutation/createMutation.test.ts
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: documentation, package: svelte-query

#9696 docs(examples): update star-wars and rick-morty examples
  .github/workflows/pr.yml
  examples/react/rick-morty/index.html
  examples/react/rick-morty/package.json
  examples/react/rick-morty/src/App.tsx
  examples/react/rick-morty/src/Character.jsx
  examples/react/rick-morty/src/Character.tsx
  examples/react/rick-morty/src/Characters.jsx
  examples/react/rick-morty/src/Characters.tsx
  examples/react/rick-morty/src/Episode.jsx
  examples/react/rick-morty/src/Episode.tsx
  examples/react/rick-morty/src/Episodes.tsx
  examples/react/rick-morty/src/Home.jsx
  examples/react/rick-morty/src/Home.tsx
  examples/react/rick-morty/src/Layout.tsx
  examples/react/rick-morty/src/api.ts
  examples/react/rick-morty/src/fetch.jsx
  examples/react/rick-morty/src/styles.css
  examples/react/rick-morty/tsconfig.json
  examples/react/rick-morty/vite.config.ts
  examples/react/star-wars/index.html
  examples/react/star-wars/package.json
  examples/react/star-wars/src/App.tsx
  examples/react/star-wars/src/Character.jsx
  examples/react/star-wars/src/Character.tsx
  examples/react/star-wars/src/Characters.jsx
  examples/react/star-wars/src/Characters.tsx
  examples/react/star-wars/src/Film.jsx
  examples/react/star-wars/src/Film.tsx
  examples/react/star-wars/src/Films.tsx
  examples/react/star-wars/src/Home.jsx
  examples/react/star-wars/src/Home.tsx
  examples/react/star-wars/src/Layout.tsx
  examples/react/star-wars/src/api.ts
  examples/react/star-wars/src/fetch.jsx
  examples/react/star-wars/src/styles.css
  examples/react/star-wars/tsconfig.json
  examples/react/star-wars/vite.config.ts
  examples/svelte/star-wars/package.json
  examples/svelte/star-wars/postcss.config.cjs
  examples/svelte/star-wars/src/app.css
  examples/svelte/star-wars/src/app.html
  examples/svelte/star-wars/src/lib/api.ts
  examples/svelte/star-wars/src/routes/+layout.svelte
  examples/svelte/star-wars/src/routes/+page.svelte
  examples/svelte/star-wars/src/routes/characters/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/+page.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Film.svelte
  examples/svelte/star-wars/src/routes/characters/[characterId]/Homeworld.svelte
  examples/svelte/star-wars/src/routes/films/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/+page.svelte
  examples/svelte/star-wars/src/routes/films/[filmId]/Character.svelte
  examples/svelte/star-wars/static/emblem-light.svg
  examples/svelte/star-wars/static/favicon.png
  examples/svelte/star-wars/tailwind.config.cjs
  examples/svelte/star-wars/vite.config.ts
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: solid-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental, package: angular-query-persist-client

#9687 fix(eslint-plugin): exhaustive-deps with variables and type assertions (#9643)
  .changeset/cold-falcons-warn.md
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.rule.ts
Labels: package: eslint-plugin-query

#9702 chore: update @eslint-react/eslint-plugin
  package.json
  packages/eslint-plugin-query/package.json
  pnpm-lock.yaml
Labels: package: eslint-plugin-query

#9703 ci: update changesets auto-merge logic
  .github/workflows/release.yml
Labels: package: query-core
