Repository TanStack/query, pull requests merged in 2025-01, with the labels that each got.

#8488 docs: describe query default changes in v5
  docs/framework/react/guides/migrating-to-v5.md
  docs/reference/QueryClient.md
Labels: documentation

#8496 perf(query-core): Improve mutationCache implementation performance
  packages/query-core/src/mutationCache.ts
Labels: package: query-core

#8486 Update invalidations-from-mutations.md
  docs/framework/angular/guides/invalidations-from-mutations.md
Labels: documentation

#8497 refactor(angular-query): deprecate injectQueryClient
  packages/angular-query-experimental/src/inject-query-client.ts
Labels: package: angular-query-experimental

#8398 fix(react-query): ensureSuspenseTimers should ALWAYS set staleTime to 1000 when it is below 1000.
  packages/react-query/src/__tests__/suspense.test.tsx
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
  packages/react-query/src/suspense.ts
Labels: package: react-query

#8392 fix(eslint-plugin-query): export Plugin interface
  packages/eslint-plugin-query/src/index.ts
Labels: package: eslint-plugin-query

#8322 fix(react-query): eslint-plugin-query now working with vanilla js
  packages/eslint-plugin-query/src/utils/detect-react-query-imports.ts
Labels: package: eslint-plugin-query

#8443 fix(vue-query): avoid use `sync` for `watch` that cause unnecessary requests
  packages/vue-query/src/useQueries.ts
Labels: package: vue-query

#8348 feat(react-query): allow useQuery and useQueries to unsubscribe from the query cache with an option
  docs/framework/react/react-native.md
  docs/framework/react/reference/useQuery.md
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/useBaseQuery.ts
  packages/react-query/src/useQueries.ts
Labels: documentation, package: react-query

#8519 docs(react-query): Add import statement with skipToken to the docs
  docs/framework/react/guides/disabling-queries.md
Labels: documentation

#8521 feat(types): support typing `QueryKey` and `MutationKey` via `Register`
  docs/framework/react/typescript.md
  packages/query-core/src/types.ts
Labels: documentation, package: query-core

#8522 docs(react-query): highlight per component select pattern for query options
  docs/framework/react/guides/query-options.md
Labels: documentation

#8532 chore(deps): replace rimraf with premove
  package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query-persist-client/package.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  packages/vue-query-devtools/package.json
  packages/vue-query/package.json
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: vue-query, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-sync-storage-persister, package: solid-query-persist-client, package: svelte-query-persist-client, package: vue-query-devtools, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#8546 fix(react-query): add missing subscribed option to UseInfiniteQueryOp…
  packages/react-query/src/types.ts
Labels: package: react-query

#8551 chore: prefer using satisfies instead of type cast
  docs/framework/react/plugins/persistQueryClient.md
Labels: documentation

#8568 fix: invalid openapi-react-query url
  docs/framework/react/community/community-projects.md
Labels: documentation

#8572 docs(framework): update Next.js and Svelte documentation links
  docs/framework/react/guides/ssr.md
  docs/framework/svelte/overview.md
Labels: documentation

#8589 docs: fix `variables` obtaining path in the `predicate` example
  docs/framework/react/guides/filters.md
Labels: documentation

#8586 feat(types): type narrowing for isPlaceholderData
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  packages/eslint-plugin-query/package.json
  packages/query-async-storage-persister/package.json
  packages/query-broadcast-client-experimental/package.json
  packages/query-core/package.json
  packages/query-core/src/__tests__/infiniteQueryObserver.test-d.tsx
  packages/query-core/src/__tests__/queryObserver.test-d.tsx
  packages/query-core/src/types.ts
  packages/query-devtools/package.json
  packages/query-persist-client-core/package.json
  packages/query-sync-storage-persister/package.json
  packages/react-query-devtools/package.json
  packages/react-query-devtools/tsconfig.legacy.json
  packages/react-query-next-experimental/package.json
  packages/react-query-next-experimental/tsconfig.legacy.json
  packages/react-query-persist-client/package.json
  packages/react-query-persist-client/tsconfig.legacy.json
  packages/react-query/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  pnpm-lock.yaml
Labels: package: react-query-devtools, package: react-query, package: react-query-persist-client, package: query-core, package: solid-query, package: query-persist-client-core, package: eslint-plugin-query, package: query-devtools, package: angular-query-experimental, package: angular-query-devtools-experimental, package: query-async-storage-persister, package: query-sync-storage-persister, package: solid-query-persist-client, package: solid-query-devtools, package: query-broadcast-client-experimental, package: react-query-next-experimental

#8599 Feature/query client on context
  docs/framework/react/guides/query-functions.md
  nx.json
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/eslint-plugin-query/src/__tests__/exhaustive-deps.test.ts
  packages/eslint-plugin-query/src/rules/exhaustive-deps/exhaustive-deps.utils.ts
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
  packages/query-core/src/queryCache.ts
  packages/query-core/src/types.ts
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
Labels: documentation, package: query-core, package: query-persist-client-core, package: eslint-plugin-query, package: angular-query-experimental
