Repository TanStack/query, pull requests merged in 2025-07, with the labels that each got.

#9342 test(query-core/queriesObserver): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Labels: package: query-core

#9333 test(query-core/infiniteQueryBehavior): remove most 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Labels: package: query-core

#9337 test(query-core/onlineManager): replace 'advanceTimersByTimeAsync' with 'advanceTimersByTime'
  packages/query-core/src/__tests__/onlineManager.test.tsx
Labels: package: query-core

#9344 test(react-query/fine-grained-persister): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Labels: package: react-query

#9353 test(react-query/useMutationState): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/useMutationState.test.tsx
Labels: package: react-query

#9358 test(react-query/useIsFetching): remove 'vi.waitFor', add 'advanceTimersByTimeAsync' and replace 'findByText' with 'getByText'
  packages/react-query/src/__tests__/useIsFetching.test.tsx
Labels: package: react-query

#9345 test(react-query/QueryClientProvider): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
Labels: package: react-query

#9357 test(react-query/useSuspenseQuery): switch to fake timers and replace 'waitFor' with 'vi.waitFor'
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#9349 test(react-query/QueryResetErrorBoundary): switch to fake timers and replace 'waitFor' with 'vi.waitFor'
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Labels: package: react-query

#9354 test(react-query/usePrefetchInfiniteQuery): switch to fake timers, remove 'waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Labels: package: react-query

#9365 test(react-query/QueryResetErrorBoundary): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Labels: package: react-query

#8960 feat(react-query): add mutationOptions
  docs/config.json
  docs/framework/react/reference/mutationOptions.md
  docs/framework/react/typescript.md
  packages/react-query/src/__tests__/mutationOptions.test-d.tsx
  packages/react-query/src/__tests__/mutationOptions.test.tsx
  packages/react-query/src/index.ts
  packages/react-query/src/mutationOptions.ts
Labels: documentation, package: react-query

#9356 test(react-query/useSuspenseQueries): remove 'waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query

#9397 test(react-query/mutationOptions): switch to fake timers, remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/mutationOptions.test.tsx
Labels: package: react-query

#9366 test(react-query/useInfiniteQuery): remove 'vi.waitFor' and add 'advanceTimersByTimeAsync'
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Labels: package: react-query

#9373 test(vue-query/useIsMutating): switch to fake timers and replace 'sleep' with 'advanceTimersByTimeAsync'
  packages/vue-query/src/__tests__/useIsMutating.test.ts
Labels: package: vue-query

#9372 test(vue-query/vueQueryPlugin): switch to fake timers and replace 'sleep' with 'advanceTimersByTimeAsync'
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
Labels: package: vue-query

#9391 test(solid-query/useInfiniteQuery): switch to fake timers, and replace 'waitFor' with 'vi.waitFor'
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Labels: package: solid-query

#9376 test(solid-query/transition): switch to fake timers and replace 'waitFor' with 'vi.waitFor'
  packages/solid-query/src/__tests__/transition.test.tsx
Labels: package: solid-query

#9378 test(solid-query/useIsMutating): switch to fake timers and replace 'waitFor' with 'vi.waitFor'
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
Labels: package: solid-query

#9380 test(solid-query/useQueries): switch to fake timers and replace 'waitFor' with 'vi.waitFor'
  packages/solid-query/src/__tests__/useQueries.test.tsx
Labels: package: solid-query

#9377 test(solid-query/useIsFetching): switch to fake timers, replace 'waitFor' with 'vi.waitFor' and 'findByText' with 'getByText'
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
Labels: package: solid-query

#9388 test(svelte-query/useMutationState): switch to fake timers, and replace 'waitFor' with 'vi.waitFor'
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: package: svelte-query

#9401 test(solid-query/QueryClientProvider): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync', 'expect'
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
Labels: package: solid-query

#9402 test(solid-query/transition): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/solid-query/src/__tests__/transition.test.tsx
Labels: package: solid-query

#9403 test(solid-query/useIsFetching): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync', 'expect'
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
Labels: package: solid-query

#9381 test(svelte-query/createInfiniteQuery): switch to fake timers, and replace 'waitFor' with 'vi.waitFor'
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Labels: package: svelte-query

#9406 test(solid-query/useQueries): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync', 'expect'
  packages/solid-query/src/__tests__/useQueries.test.tsx
Labels: package: solid-query

#9404 test(solid-query/useIsMutating): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
Labels: package: solid-query

#9386 test(svelte-query/useIsFetching): switch to fake timers, add 'expect', 'vi.waitFor', and replace 'findByText' with 'getByText'
  packages/svelte-query/tests/useIsFetching/useIsFetching.test.ts
Labels: package: svelte-query

#9384 test(svelte-query/createQuery): switch to fake timers, replace 'waitFor' with 'vi.waitFor', and add 'expect'
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Labels: package: svelte-query

#9382 test(svelte-query/createMutation): switch to fake timers, replace 'waitFor' with 'vi.waitFor', and add 'expect'
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Labels: package: svelte-query

#9407 test(solid-query/suspense): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync', 'expect'
  packages/solid-query/src/__tests__/suspense.test.tsx
Labels: package: solid-query

#9408 feat(core): QueryObserver returns isEnabled flag
  docs/framework/react/reference/useQuery.md
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Labels: documentation, package: react-query, package: query-core, package: solid-query, package: svelte-query

#9411 test(solid-query/useInfiniteQuery): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync', 'expect'
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Labels: package: solid-query

#9414 test(svelte-query/createMutation): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/createMutation/createMutation.test.ts
Labels: package: svelte-query

#9417 test(svelte-query/QueryClientProvider): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.test.ts
Labels: package: svelte-query

#9418 test(svelte-query/useIsFetching): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/useIsFetching/useIsFetching.test.ts
Labels: package: svelte-query

#9419 test(svelte-query/useIsMutating): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/useIsMutating/useIsMutating.test.ts
Labels: package: svelte-query

#9423 test(angular-query-experimental/inject-is-fetching): replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync', and add 'expect' 'isFetching' to equal 0
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
Labels: package: angular-query-experimental

#9420 test(svelte-query/useMutationState): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: package: svelte-query

#9416 test(svelte-query/createQuery): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync'
  packages/svelte-query/tests/createQuery/createQuery.test.ts
Labels: package: svelte-query

#9426 test(query-core/infiniteQueryBehavior): remove 'vi.waitFor', and add 'advanceTimersByTimeAsync' in infinite loop on retry test
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Labels: package: query-core

#9424 test(svelte-query/useIsMutating): replace incorrect usage of 'fetching' with 'mutating'
  packages/svelte-query/tests/useIsMutating/useIsMutating.test.ts
Labels: package: svelte-query

#9425 test(angular-query-experimental/inject-is-mutating): separate 'injectionContext' from testing, and add more 'expect'
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
Labels: package: angular-query-experimental

#9429 test(query-core/queriesObserver): use precise time in 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Labels: package: query-core

#9432 test(query-core/queryObserver): use precise time in 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryObserver.test.tsx
Labels: package: query-core

#9433 test(query-core/queryCache): remove redundant 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/queryCache.test.tsx
Labels: package: query-core

#9444 test(react-query/suspense): change 'queryFn' to return a 'Promise', replace 'advanceTimersByTime' with 'advanceTimersByTimeAsync', and add 'expect'
  packages/react-query/src/__tests__/suspense.test.tsx
Labels: package: react-query

#9442 test(react-query/QueryClientProvider): add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
Labels: package: react-query

#9438 test(angular-query-experimental/inject-mutation-state): replace 'runAllTimersAsync', 'advanceTimersByTime' with 'advanceTimersByTimeAsync'
  packages/angular-query-experimental/src/__tests__/inject-mutation-state.test.ts
Labels: package: angular-query-experimental

#9464 chore: manually update dependencies
  docs/framework/react/guides/important-defaults.md
  docs/framework/react/quick-start.md
  docs/framework/react/reference/usePrefetchInfiniteQuery.md
  docs/framework/react/reference/usePrefetchQuery.md
  docs/framework/solid/reference/useQuery.md
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  examples/svelte/auto-refetching/package.json
  examples/svelte/basic/package.json
  examples/svelte/load-more-infinite-scroll/package.json
  examples/svelte/optimistic-updates/package.json
  examples/svelte/playground/package.json
  examples/svelte/simple/package.json
  examples/svelte/ssr/package.json
  examples/svelte/star-wars/package.json
  integrations/solid-vite/package.json
  integrations/svelte-vite/package.json
  package.json
  packages/eslint-plugin-query/package.json
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-devtools/package.json
  packages/react-query/src/__tests__/ssr.test.tsx
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  packages/svelte-query-devtools/package.json
  packages/svelte-query-persist-client/package.json
  packages/svelte-query/package.json
  pnpm-lock.yaml
Labels: documentation, package: react-query, package: query-core, package: solid-query, package: eslint-plugin-query, package: svelte-query, package: svelte-query-devtools, package: query-devtools, package: solid-query-persist-client, package: svelte-query-persist-client, package: solid-query-devtools

#9459 docs(react-query): change comma to sentence period
  docs/framework/react/guides/optimistic-updates.md
Labels: documentation

#9456 test(react-query/QueryResetErrorBoundary): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Labels: package: react-query

#9455 test(react-query/useSuspenseQuery): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#9447 test(react-query/usePrefetchInfiniteQuery): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/usePrefetchInfiniteQuery.test.tsx
Labels: package: react-query

#9450 test(react-query/useSuspenseQueries): use precise time in 'advanceTimersByTimeAsync', and add 'expect' using 'toBeInTheDocument'
  packages/react-query/src/__tests__/useSuspenseQueries.test.tsx
Labels: package: react-query

#9469 test(react-query/useSuspenseQuery): add 'sleep' in 'queryFn', simplify it, and add 'expect' for 'loading' text
  packages/react-query/src/__tests__/useSuspenseQuery.test.tsx
Labels: package: react-query

#9471 test(react-query/ssr): simplify 'queryFn' and add 'sleep' for accurate testing
  packages/react-query/src/__tests__/ssr.test.tsx
Labels: package: react-query

#9468 test(react-query/suspense): add 'sleep' in 'queryFn', and add 'expect' for 'loading' text
  packages/react-query/src/__tests__/suspense.test.tsx
Labels: package: react-query

#9472 test(react-query/HydrationBoundary): use precise time in 'advanceTimersByTimeAsync', add 'expect' using 'toBeInTheDocument', and simplify 'queryFn'
  packages/react-query/src/__tests__/HydrationBoundary.test.tsx
Labels: package: react-query

#9484 test(solid-query/useInfiniteQuery): add 'sleep', remove 'Number' in 'queryFn', and simplify it
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
Labels: package: solid-query

#9479 test(solid-query/suspense): simplify 'queryFn' and add 'expect' for 'loading' text
  packages/solid-query/src/__tests__/suspense.test.tsx
Labels: package: solid-query

#9486 test(solid-query/useIsMutating): simplify 'mutationFn' and add 'expect' for 'isMutating' state transitions
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
Labels: package: solid-query

#9489 test(svelte-query/useMutationState): add 'sleep' in 'mutationFn' and replace 'getByTestId' with 'getByText'
  packages/svelte-query/tests/useMutationState/BaseExample.svelte
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: package: svelte-query

#9492 test(svelte-query/createInfiniteQuery): add 'sleep', remove 'Number' in 'queryFn', and replace 'queryByText' with 'getByText'
  packages/svelte-query/tests/createInfiniteQuery/BaseExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/SelectExample.svelte
  packages/svelte-query/tests/createInfiniteQuery/createInfiniteQuery.test.ts
Labels: package: svelte-query

#9495 test(svelte-query/{QueryClientProvider,useIsFetching,useIsMutating}): simplify 'queryFn'
  packages/svelte-query/tests/QueryClientProvider/ChildComponent.svelte
  packages/svelte-query/tests/QueryClientProvider/QueryClientProvider.test.ts
  packages/svelte-query/tests/useIsFetching/BaseExample.svelte
  packages/svelte-query/tests/useIsFetching/useIsFetching.test.ts
  packages/svelte-query/tests/useIsMutating/BaseExample.svelte
  packages/svelte-query/tests/useIsMutating/useIsMutating.test.ts
Labels: package: svelte-query

#9494 test(svelte-query/createQueries): simplify 'queryFn' and add test for success when queries reslove at different times
  packages/svelte-query/tests/createQueries/CombineExample.svelte
  packages/svelte-query/tests/createQueries/createQueries.test.ts
Labels: package: svelte-query

#9517 refactor(angular-query): build package using vite
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/scripts/prepare-package.js
Labels: package: angular-query-experimental
