Repository TanStack/query, pull requests merged in 2025-06, with the labels that each got.

#9202 refactor: narrow onSuccess/onError/onMutate/onSettled callback types to Promise<void> | void
  docs/framework/react/plugins/persistQueryClient.md
  docs/framework/react/reference/useMutation.md
  docs/reference/MutationCache.md
  packages/angular-query-persist-client/src/with-persist-query-client.ts
  packages/query-core/src/mutationCache.ts
  packages/query-core/src/query.ts
  packages/query-core/src/types.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
Labels: documentation, package: react-query-persist-client, package: query-core

#9210 refactor(query-core): extract context creation to functions and move type assertions
  packages/query-core/src/infiniteQueryBehavior.ts
  packages/query-core/src/query.ts
Labels: package: query-core

#9215 feat(query-devtools): add indicator for staleTime: 'static' in devtools
  packages/query-devtools/src/Devtools.tsx
Labels: package: query-devtools

#9218 refactor: improve type safety in `getQueryData` by using generics
  packages/query-core/src/queryClient.ts
Labels: package: query-core

#9201 perf: improve performance of util function "difference" in quriesObserver.ts in query-core package
  packages/query-core/src/queriesObserver.ts
Labels: package: query-core

#9250 fix(vue-query): make vue-query client compatible with query-core
  packages/vue-query/src/__tests__/vueQueryPlugin.test.ts
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/vueQueryPlugin.ts
Labels: package: vue-query

#9262 fix relative links
  docs/framework/react/guides/mutations.md
Labels: documentation

#9242 fix(react-query): correct type for `onSuccess` of `useQuery`
  .github/workflows/pr.yml
  packages/query-core/src/types.ts
  packages/react-query/src/__tests__/useQuery.types.test.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
  pnpm-lock.yaml
Labels: package: react-query

#9281 refactor(angular-query): migrate from tsup to vite
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/postpack.js
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsup.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/.attw.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental

#9282 Revert "refactor(angular-query): migrate from tsup to vite"
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/postpack.js
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsup.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/.attw.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental

#9283 fix(angular-query): fix types missing in published package
  packages/angular-query-experimental/README.md
Labels: package: angular-query-experimental

#9285 Update community-projects.md
  docs/framework/vue/community/community-projects.md
Labels: documentation

#9275 docs: add Chrome extension information for TanStack Query devtools across multiple frameworks
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
Labels: documentation

#9292 refactor(angular-query): build with vite, publish d.ts files to package root
  packages/angular-query-experimental/.attw.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/scripts/prepack.js
  packages/angular-query-experimental/src/test-setup.ts
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-experimental/tsconfig.prod.json
  packages/angular-query-experimental/tsup.config.js
  packages/angular-query-experimental/vite.config.ts
  packages/angular-query-persist-client/.attw.json
  packages/angular-query-persist-client/package.json
  packages/angular-query-persist-client/src/test-setup.ts
  packages/angular-query-persist-client/tsconfig.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental

#9294 chore(angular-query): run prepack after build
  packages/angular-query-experimental/package.json
Labels: package: angular-query-experimental

#9298 chore(angular-query): revert to tsup to build package
  knip.json
  packages/angular-query-experimental/package.json
  packages/angular-query-experimental/tsup.config.ts
  pnpm-lock.yaml
Labels: package: angular-query-experimental

#9277 type(vue-query): introduce `ShallowOption` to unify `shallow` type and JSDoc
  packages/vue-query/src/types.ts
  packages/vue-query/src/useInfiniteQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
  packages/vue-query/src/useQuery.ts
Labels: package: vue-query

#9312 test(query-core/mutationObserver): add 'advanceTimersByTimeAsync' in all tests
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Labels: package: query-core

#9321 fix(react-query): throw type error when skipToken is present in prefetch query
  packages/react-query/src/__tests__/usePrefetchQuery.test-d.tsx
  packages/react-query/src/types.ts
  packages/react-query/src/usePrefetchQuery.tsx
Labels: package: react-query

#9319 test(query-core/query): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor'
  packages/query-core/src/__tests__/query.test.tsx
Labels: package: query-core

#9029 chore: add typescript-eslint/require-await rule
  packages/query-codemods/eslint.config.js
Labels: package: query-codemods

#9328 test(query-core/mutations): fix typo - remove duplicate "should run" in mutation test name
  packages/query-core/src/__tests__/mutations.test.tsx
Labels: package: query-core

#9329 test(query-core/notifyManager): replace 'queueMicrotask' with 'advanceTimersByTimeAsync'
  packages/query-core/src/__tests__/notifyManager.test.tsx
Labels: package: query-core

#9326 test(query-core/queryClient): add 'advanceTimersByTimeAsync' and remove 'vi.waitFor'
  packages/query-core/src/__tests__/queryClient.test.tsx
Labels: package: query-core
