Repository TanStack/query, pull requests merged in 2025-04, with the labels that each got.

#8922 fix(solid-query,query-devtools): bump solid (1.9.5) and vite-plugin-solid (2.11.6)
  examples/solid/astro/package.json
  examples/solid/basic-graphql-request/package.json
  examples/solid/basic/package.json
  examples/solid/default-query-function/package.json
  examples/solid/simple/package.json
  examples/solid/solid-start-streaming/package.json
  integrations/solid-vite/package.json
  packages/query-devtools/package.json
  packages/solid-query-devtools/package.json
  packages/solid-query-persist-client/package.json
  packages/solid-query/package.json
  pnpm-lock.yaml
Labels: package: solid-query, package: query-devtools, package: solid-query-persist-client, package: solid-query-devtools

#8923 docs(react-guides): fixed link typo
  docs/framework/react/guides/request-waterfalls.md
Labels: documentation

#8924 cleanup devDeps tsup, typescript, @microsoft/api-extractor
  integrations/react-next-14/package.json
  integrations/react-next-15/package.json
  packages/angular-query-devtools-experimental/package.json
  packages/angular-query-experimental/package.json
  pnpm-lock.yaml
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8926 update vue-tsc
  integrations/vue-vite/package.json
  packages/vue-query-devtools/package.json
  pnpm-lock.yaml
Labels: package: vue-query-devtools

#8901 test(query-core): resolve ESLint typescript-eslint/require-await warnings for queryClient.test.tsx
  packages/query-core/src/__tests__/queryClient.test.tsx
Labels: package: query-core

#8904 test(react-query): resolve ESLint typescript-eslint/require-await warnings for useInfiniteQuery.test.tsx
  packages/react-query/src/__tests__/useInfiniteQuery.test.tsx
Labels: package: react-query

#8905 test(react-query): resolve ESLint typescript-eslint/require-await warnings for QueryResetErrorBoundary.test.tsx
  packages/react-query/src/__tests__/QueryResetErrorBoundary.test.tsx
Labels: package: react-query

#8908 test(react-query): resolve ESLint typescript-eslint/require-await warnings for fine-grained-persister.test.tsx
  packages/react-query/src/__tests__/fine-grained-persister.test.tsx
Labels: package: react-query

#8912 test(react-query-devtools): resolve ESLint typescript-eslint/require-await warnings for devtools.test.tsx
  packages/react-query-devtools/src/__tests__/devtools.test.tsx
Labels: package: react-query-devtools

#8900 test(query-core): resolve ESLint typescript-eslint/require-await warnings for mutations.test.tsx
  packages/query-core/src/__tests__/mutations.test.tsx
Labels: package: query-core

#8934 ✏️ Fix typo in `docs/framework/react/overview.md`, "React Query" to "TanStack Query" for consistency
  docs/framework/react/overview.md
Labels: documentation

#8933 fix(query-core): Rename defaultshouldRedactErrors to defaultShouldRedactErrors
  packages/query-core/src/hydration.ts
Labels: package: query-core

#8938 fix(solid-query): add `useQuery`, `useInfiniteQuery`, `useQueries`, `useMutation` as alternative (primary) syntax to align with react and ease maintenance
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/useQueries.test.tsx
  packages/solid-query/src/__tests__/useQuery.test-d.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/useQueryOptions.test-d.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Labels: package: solid-query, package: solid-query-persist-client

#8940 fix(solid-query): add compat types
  packages/solid-query/src/index.ts
Labels: package: solid-query

#8941 chore(solid-query): update examples, integration, docs
  docs/config.json
  docs/framework/solid/reference/useQuery.md
  examples/solid/astro/src/components/SolidApp.tsx
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/components/post-viewer.tsx
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  examples/solid/solid-start-streaming/src/components/user-info.tsx
  examples/solid/solid-start-streaming/src/routes/batch-methods.tsx
  examples/solid/solid-start-streaming/src/routes/hydration.tsx
  integrations/solid-vite/src/App.jsx
Labels: documentation

#8942 chore(solid-query): update docs
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/typescript.md
Labels: documentation

#8943 fix(solid-query): use QueryClient from query-core
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/useQuery.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useBaseQuery.ts
  packages/solid-query/src/useInfiniteQuery.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutation.ts
  packages/solid-query/src/useMutationState.ts
  packages/solid-query/src/useQueries.ts
  packages/solid-query/src/useQuery.ts
Labels: package: solid-query

#8947 fix(solid-query): keep solid-query on just `createQuery` syntax
  docs/config.json
  docs/framework/solid/overview.md
  docs/framework/solid/quick-start.md
  docs/framework/solid/reference/createQuery.md
  docs/framework/solid/typescript.md
  examples/solid/astro/src/components/SolidApp.tsx
  examples/solid/basic-graphql-request/src/index.tsx
  examples/solid/basic/src/index.tsx
  examples/solid/default-query-function/src/index.tsx
  examples/solid/simple/src/index.tsx
  examples/solid/solid-start-streaming/src/components/post-viewer.tsx
  examples/solid/solid-start-streaming/src/components/query-boundary.tsx
  examples/solid/solid-start-streaming/src/components/user-info.tsx
  examples/solid/solid-start-streaming/src/routes/batch-methods.tsx
  examples/solid/solid-start-streaming/src/routes/hydration.tsx
  integrations/solid-vite/src/App.jsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query/src/QueryClient.ts
  packages/solid-query/src/QueryClientProvider.tsx
  packages/solid-query/src/__tests__/QueryClientProvider.test.tsx
  packages/solid-query/src/__tests__/createInfiniteQuery.test.tsx
  packages/solid-query/src/__tests__/createMutation.test.tsx
  packages/solid-query/src/__tests__/createQueries.test-d.tsx
  packages/solid-query/src/__tests__/createQueries.test.tsx
  packages/solid-query/src/__tests__/createQuery.test-d.tsx
  packages/solid-query/src/__tests__/createQuery.test.tsx
  packages/solid-query/src/__tests__/infiniteQueryOptions.test-d.tsx
  packages/solid-query/src/__tests__/queryOptions.test-d.tsx
  packages/solid-query/src/__tests__/suspense.test.tsx
  packages/solid-query/src/__tests__/transition.test.tsx
  packages/solid-query/src/__tests__/useIsFetching.test.tsx
  packages/solid-query/src/__tests__/useIsMutating.test.tsx
  packages/solid-query/src/__tests__/useMutationState.test.tsx
  packages/solid-query/src/__tests__/utils.tsx
  packages/solid-query/src/createBaseQuery.ts
  packages/solid-query/src/createInfiniteQuery.ts
  packages/solid-query/src/createMutation.ts
  packages/solid-query/src/createQueries.ts
  packages/solid-query/src/createQuery.ts
  packages/solid-query/src/index.ts
  packages/solid-query/src/types.ts
  packages/solid-query/src/useIsFetching.ts
  packages/solid-query/src/useIsMutating.ts
  packages/solid-query/src/useMutationState.ts
Labels: documentation, package: solid-query, package: solid-query-persist-client

#8952 refactor(query-core): remove double negative
  packages/query-core/src/utils.ts
Labels: package: query-core

#8925 feat(eslint-plugin): no void queryFn
  docs/eslint/eslint-plugin-query.md
  docs/eslint/no-void-query-fn.md
  knip.json
  packages/eslint-plugin-query/package.json
  packages/eslint-plugin-query/scripts/patch-missing-export-equals.js
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/file.ts
  packages/eslint-plugin-query/src/__tests__/ts-fixture/tsconfig.json
  packages/eslint-plugin-query/src/index.ts
  packages/eslint-plugin-query/src/rules.ts
  packages/eslint-plugin-query/src/rules/no-void-query-fn/no-void-query-fn.rule.ts
  packages/eslint-plugin-query/tsup.config.ts
  pnpm-lock.yaml
Labels: documentation, package: eslint-plugin-query

#8965 docs: fix missing closing quote in networkMode option
  docs/framework/react/reference/useQuery.md
Labels: documentation

#8971 fix(eslint): classic build
  packages/eslint-plugin-query/tsup.config.ts
Labels: package: eslint-plugin-query

#8776 refactor(angular-query): change query functions to accept an options object instead of an injector
  examples/angular/devtools-panel/src/app/components/lazy-load-devtools-panel-example.component.ts
  packages/angular-query-devtools-experimental/src/inject-devtools-panel.ts
  packages/angular-query-experimental/src/__tests__/inject-infinite-query.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-fetching.test.ts
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/providers.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.ts
Labels: package: angular-query-experimental, package: angular-query-devtools-experimental

#8893 Update createPersister.md with info about cache mutations
  docs/framework/react/plugins/createPersister.md
Labels: documentation

#8433 docs(vue-query): update example in disabling-queries.md
  docs/framework/vue/guides/disabling-queries.md
Labels: documentation

#8692 types(vue-query): add `shallow` support to `QueryClientConfig`
  packages/vue-query/src/queryClient.ts
  packages/vue-query/src/types.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQuery.ts
  packages/vue-query/src/vueQueryPlugin.ts
Labels: package: vue-query

#8962 Fix a few typos in migrate to v5 docs
  docs/framework/react/guides/migrating-to-v5.md
Labels: documentation

#8956 feat(vue-query): useInfiniteQuery options support maybe ref type
  packages/vue-query/src/__tests__/useInfiniteQuery.test-d.tsx
  packages/vue-query/src/useInfiniteQuery.ts
Labels: package: vue-query

#8969 Better error handling when persisting Query Client
  docs/framework/react/plugins/persistQueryClient.md
  packages/query-persist-client-core/src/__tests__/persist.test.ts
  packages/query-persist-client-core/src/persist.ts
  packages/react-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/solid-query-persist-client/src/PersistQueryClientProvider.tsx
  packages/solid-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
  packages/svelte-query-persist-client/src/PersistQueryClientProvider.svelte
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query-persist-client/tests/RemoveCache/Provider.svelte
Labels: documentation, package: react-query-persist-client, package: query-persist-client-core, package: solid-query-persist-client, package: svelte-query-persist-client

#8993 chore(angular-query): remove unused microsoft api extractor configs
  .prettierignore
  packages/angular-query-experimental/config/api-extractor.json
  packages/angular-query-experimental/etc/angular-query-experimental.api.md
Labels: package: angular-query-experimental

#8991 fix(eslint-plugin-query): add footer workaround for CJS default export in modernConfig
  examples/react/eslint-legacy/.eslintrc
  examples/react/eslint-legacy/package.json
  examples/react/eslint-legacy/tsconfig.json
  packages/eslint-plugin-query/root.tsup.config.js
  pnpm-lock.yaml
Labels: package: eslint-plugin-query

#9007 fix(query-core): make sure we don't invoke select too often when using placeholderData
  packages/eslint-plugin-query/src/__tests__/no-void-query-fn.test.ts
  packages/query-core/src/__tests__/queryObserver.test.tsx
  packages/query-core/src/queryObserver.ts
  packages/vue-query/package.json
Labels: package: vue-query, package: query-core, package: eslint-plugin-query

#9008 fix documentation on status for suspense hooks
  docs/framework/react/reference/useSuspenseInfiniteQuery.md
  docs/framework/react/reference/useSuspenseQueries.md
  docs/framework/react/reference/useSuspenseQuery.md
Labels: documentation

#9005 test(query-core): use fake timers for queriesObserver.test.tsx
  packages/query-core/src/__tests__/queriesObserver.test.tsx
Labels: package: query-core

#8983 test(react-query): use fakeTimers for usePrefetchQuery.test.tsx
  packages/react-query/src/__tests__/usePrefetchQuery.test.tsx
Labels: package: react-query

#8982 test(react-query): use fakeTimers for useIsFetching.test.tsx
  packages/react-query/src/__tests__/useIsFetching.test.tsx
Labels: package: react-query

#8981 test(react-query): use fakeTimers for ssr.test.tsx
  packages/react-query/src/__tests__/ssr.test.tsx
Labels: package: react-query

#8976 test(query-core): add test case for notifyManager
  packages/query-core/src/__tests__/notifyManager.test.tsx
Labels: package: query-core

#8961 test(query-core): use fakeTimers for infiniteQueryBehavior.test.tsx
  packages/query-core/src/__tests__/infiniteQueryBehavior.test.tsx
Labels: package: query-core

#8980 test(query-core): use fakeTimers for onlineManager.test.tsx
  packages/query-core/src/__tests__/onlineManager.test.tsx
Labels: package: query-core

#8975 test(query-core): add test case for mutationObserver
  packages/query-core/src/__tests__/mutationObserver.test.tsx
Labels: package: query-core

#9010 docs(angular-query): fix links
  docs/framework/angular/guides/caching.md
  docs/framework/angular/guides/invalidations-from-mutations.md
  docs/framework/angular/guides/mutation-options.md
  docs/framework/angular/overview.md
Labels: documentation

#9012 refactor(angular-query): remove private assertInjector util
  packages/angular-query-experimental/src/inject-infinite-query.ts
  packages/angular-query-experimental/src/inject-is-fetching.ts
  packages/angular-query-experimental/src/inject-is-mutating.ts
  packages/angular-query-experimental/src/inject-is-restoring.ts
  packages/angular-query-experimental/src/inject-mutation-state.ts
  packages/angular-query-experimental/src/inject-mutation.ts
  packages/angular-query-experimental/src/inject-queries.ts
  packages/angular-query-experimental/src/inject-query.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.test.ts
  packages/angular-query-experimental/src/util/assert-injector/assert-injector.ts
Labels: package: angular-query-experimental

#8949 test(query-core): add test case for hydration
  packages/query-core/src/__tests__/hydration.test.tsx
Labels: package: query-core

#9015 fix(query-core): unpause restored mutations
  packages/query-core/src/__tests__/mutations.test.tsx
  packages/query-core/src/mutation.ts
Labels: package: query-core

#8958 Remove predicate typing for query filters
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/__tests__/utils.test-d.tsx
  packages/query-core/src/queryCache.ts
  packages/query-core/src/queryClient.ts
  packages/query-core/src/types.ts
  packages/query-core/src/utils.ts
  packages/vue-query/src/queryClient.ts
Labels: package: vue-query, package: query-core

#9030 fix(query-core, vue-query): fix type inference in `setQueryData` when used in functions with explicit return types
  packages/query-core/src/__tests__/queryClient.test-d.tsx
  packages/query-core/src/queryClient.ts
  packages/vue-query/src/__tests__/queryClient.test-d.ts
  packages/vue-query/src/queryClient.ts
Labels: package: vue-query, package: query-core

#9025 test(*): remove unnecessary async
  packages/query-core/src/__tests__/hydration.test.tsx
  packages/react-query-persist-client/src/__tests__/PersistQueryClientProvider.test.tsx
Labels: package: react-query-persist-client, package: query-core

#9027 test(*): remove unnecessary async
  packages/svelte-query-persist-client/tests/PersistQueryClientProvider.test.ts
  packages/svelte-query/tests/useMutationState/useMutationState.test.ts
Labels: package: svelte-query, package: svelte-query-persist-client

#9028 test(vue-query): remove unnecessary async
  packages/vue-query/src/__tests__/mutationCache.test.ts
  packages/vue-query/src/__tests__/queryCache.test.ts
  packages/vue-query/src/__tests__/queryClient.test.ts
  packages/vue-query/src/__tests__/useIsMutating.test.ts
Labels: package: vue-query

#9035 fix(types): remove 'queryFn' from OmitKeyof in DefaultOptions
  packages/vue-query/src/types.ts
Labels: package: vue-query

#9039 test(*): remove unnecessary async
  packages/angular-query-experimental/src/__tests__/inject-is-mutating.test.ts
  packages/angular-query-experimental/src/__tests__/inject-mutation.test.ts
  packages/angular-query-experimental/src/__tests__/inject-query.test.ts
  packages/query-devtools/src/__tests__/utils.test.ts
  packages/query-persist-client-core/src/__tests__/utils.ts
Labels: package: query-persist-client-core, package: query-devtools, package: angular-query-experimental

#9040 refactor(query-async-storage-persister): remove unnecessary export "AsyncThrottleOptions"
  packages/query-async-storage-persister/src/asyncThrottle.ts
Labels: package: query-async-storage-persister

#9050 fix(vue-query): unify shallow flag behaviour
  packages/vue-query/src/useBaseQuery.ts
  packages/vue-query/src/useMutation.ts
  packages/vue-query/src/useQueries.ts
Labels: package: vue-query

#9004 test(query-core): use fake timers for queryObserver.test.tsx
  packages/query-core/package.json
  packages/query-core/src/__tests__/queryObserver.test.tsx
  pnpm-lock.yaml
Labels: package: query-core

#9058 test(react-query): use fake timers for ssr-hydration.test.tsx
  packages/react-query/src/__tests__/ssr-hydration.test.tsx
Labels: package: react-query

#9052 docs(react-query): fix broken links in docs
  docs/framework/react/guides/advanced-ssr.md
  docs/framework/react/guides/mutations.md
  docs/framework/react/guides/prefetching.md
  docs/framework/react/guides/suspense.md
Labels: documentation

#9055 test(react-query): use fake timers for useMutationState.test.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
Labels: package: react-query

#9067 test(query-persist-client-core): use fake timers for createPersister.test.ts
  packages/query-persist-client-core/src/__tests__/createPersister.test.ts
  packages/query-persist-client-core/src/__tests__/utils.ts
Labels: package: query-persist-client-core

#9074 test(react-query): use fake timers for QueryClientProvider.test.tsx
  packages/react-query/src/__tests__/QueryClientProvider.test.tsx
Labels: package: react-query

#9073 fix(vue-query): update `initialData` type to allow `InitialDataFunction` and `NonUndefinedGuard`, similar to react-query
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useQuery.ts
Labels: package: vue-query

#9075 test(react-query): use test-d file for useMutationState
  packages/react-query/src/__tests__/useMutationState.test-d.tsx
  packages/react-query/src/__tests__/useMutationState.test.tsx
  packages/react-query/src/__tests__/utils.tsx
Labels: package: react-query

#9077 fix(vue-query): fix initialData Type Inference Bug in useQuery
  packages/vue-query/src/__tests__/useQueries.test-d.ts
  packages/vue-query/src/__tests__/useQuery.test-d.ts
  packages/vue-query/src/useQuery.ts
Labels: package: vue-query

#9033 Fix broken links on QueryCache reference page
  docs/reference/QueryCache.md
Labels: documentation

#9079 ref(core): switch from Object.defineProperty to Proxies
  docs/framework/react/guides/render-optimizations.md
  packages/query-core/src/queryObserver.ts
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: documentation, package: react-query, package: query-core

#9080 test(solid-query): remove unnecessary code in test-d file for useQueryOptions
  packages/solid-query/src/__tests__/useQueryOptions.test-d.tsx
Labels: package: solid-query

#9081 test(solid-query): use fake timers for useMutation.test.tsx
  packages/solid-query/src/__tests__/useMutation.test.tsx
Labels: package: solid-query

#9084 fix(angular-query): align query options with react-query
  packages/angular-query-experimental/src/index.ts
  packages/angular-query-experimental/src/infinite-query-options.ts
  packages/angular-query-experimental/src/query-options.ts
  packages/angular-query-experimental/src/types.ts
Labels: package: angular-query-experimental

#9082 test(react-query): use test-d file for useQuery
  packages/react-query/src/__tests__/useQuery.test-d.tsx
  packages/react-query/src/__tests__/useQuery.test.tsx
Labels: package: react-query
