Repository TanStack/query, pull requests merged in 2025-08, with the labels that each got.

#9510 test(react-query/mutationOptions): add tests for without 'mutationKey' in 'mutationOptions' and add 'sleep' to 'mutationFn'
  packages/react-query/src/__tests__/mutationOptions.test.tsx
Labels: package: react-query

#9544 chore(angular-query): add infiniteQueryOptions tests from react-query
  packages/angular-query-experimental/eslint.config.js
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test-d.ts
  packages/angular-query-experimental/src/__tests__/infinite-query-options.test.ts
  packages/angular-query-experimental/src/__tests__/query-options.test.ts
Labels: package: angular-query-experimental

#9545 chore(tsconfig.json): add 'test-setup.ts' to 'include' array
  packages/angular-query-experimental/tsconfig.json
  packages/angular-query-persist-client/tsconfig.json
  packages/query-broadcast-client-experimental/tsconfig.json
  packages/react-query/tsconfig.json
Labels: package: react-query, package: angular-query-experimental, package: query-broadcast-client-experimental, package: angular-query-persist-client

#9534 Add Hey API to community projects for TanStack Query (React)
  docs/framework/react/community/community-projects.md
Labels: documentation

#9535 Add Hey API to community projects for TanStack Query (Vue)
  docs/framework/vue/community/community-projects.md
Labels: documentation

#9548 Add Firefox and Edge browser extension support to devtools docs
  docs/framework/angular/devtools.md
  docs/framework/react/community/community-projects.md
  docs/framework/react/devtools.md
  docs/framework/solid/devtools.md
  docs/framework/svelte/devtools.md
  docs/framework/vue/community/community-projects.md
  docs/framework/vue/devtools.md
  media/browser-logos/chrome.svg
  media/browser-logos/edge.svg
  media/browser-logos/firefox.svg
Labels: documentation

#9558 fix(core): have revertState capture manual updates
  packages/query-core/src/__tests__/streamedQuery.test.tsx
  packages/query-core/src/query.ts
Labels: package: query-core

#9577 fix(core): never revert to undefined data
  packages/query-core/src/__tests__/queryClient.test.tsx
  packages/query-core/src/query.ts
Labels: package: query-core

#9593 docs: fix missing comma in useMutation example to prevent syntax errors
  docs/framework/react/typescript.md
Labels: documentation

#9596 docs: fix type definition errors in useQuery options
  docs/framework/react/reference/useQuery.md
Labels: documentation

#9594 docs: remove unnecessary trailing comma
  docs/framework/react/reference/hydration.md
  docs/framework/react/reference/useIsFetching.md
  docs/framework/react/reference/useIsMutating.md
  docs/framework/react/reference/useMutation.md
  docs/framework/react/reference/useMutationState.md
  docs/framework/react/reference/useQueryClient.md
Labels: documentation

#9595 docs: fix mutation status type
  docs/framework/react/reference/useMutation.md
Labels: documentation

#9601 fix(core): make sure queries revert synchronously
  packages/query-core/src/__tests__/query.test.tsx
  packages/query-core/src/query.ts
  packages/query-core/src/retryer.ts
Labels: package: query-core
